@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('ProximaNova-Bold.eot'); /* IE9 Compat Modes */
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ProximaNova-Bold.woff') format('woff'), /* Modern Browsers */
       url('ProximaNova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ProximaNova-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('ProximaNova-Light.eot'); /* IE9 Compat Modes */
  src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
       url('ProximaNova-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ProximaNova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('ProximaNova-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('ProximaNova-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ProximaNova-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('ProximaNova-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ProximaNova-LightItalic.svg#1a04ccc617b24808e8115891ca97cce8') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('ProximaNova-Reg.eot'); /* IE9 Compat Modes */
  src: url('ProximaNova-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ProximaNova-Reg.woff') format('woff'), /* Modern Browsers */
       url('ProximaNova-Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ProximaNova-Reg.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('ProximaNova-RegItalic.eot'); /* IE9 Compat Modes */
  src: url('ProximaNova-RegItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ProximaNova-RegItalic.woff') format('woff'), /* Modern Browsers */
       url('ProximaNova-RegItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ProximaNova-RegItalic.svg#77f1c682604b6b0472d490a8e6c22d18') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('ProximaNova-Sbold.eot'); /* IE9 Compat Modes */
  src: url('ProximaNova-Sbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ProximaNova-Sbold.woff') format('woff'), /* Modern Browsers */
       url('ProximaNova-Sbold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ProximaNova-Sbold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('ProximaNova-SboldItalic.eot'); /* IE9 Compat Modes */
  src: url('ProximaNova-SboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ProximaNova-SboldItalic.woff') format('woff'), /* Modern Browsers */
       url('ProximaNova-SboldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ProximaNova-SboldItalic.svg#507561f3ade737ab57270dba6021e34c') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

