.advice-summary,
.advice-accepted {
  padding: 0 20px;
}
.pie-chart {
  width: 280px;
}
.advice-summary-page {

  &__investment {
    margin-top: 30px;
  }

  &__growth-container {
    align-items: baseline;
  }
  &__investment-item:first-child {
    font-size: 16px;
    top: -40px;
  }
  &__risk-level {
    justify-content: center;
    align-items: center;
    box-shadow: unset;
  }
  &__container {
    &--narrow {
      margin-top: 10px;
    }
  }
}

.pie-chart-with-legend {
  width: 90%;
}
