.answer {
  width: 100%;

  &--has-icons {
    height: 100px;
    width: 120px;
  }
  &--large {
    width: 100%;
  }
  &--has-icons-small {
    height: 88px;
    width: 88px;
  }

  &--iw-answer {
    &:hover {
      border-color: unset;
      transform: unset;
      border: 2px solid white;
      box-shadow: 0 0px 6px rgba(50, 50, 93, 0.7);
    }
  }
}
