.investment-amount {
  width: 300px;
  .error-message {
    padding: unset;
    &--compact {
      margin: 0 0 0 0;
    }
  }

  .currency-input-wrapper {
    &__label {
      margin-right: 0px;
      margin-left: 0px;
    }

    &__input {
      margin-right: 0px;
    }
  }
}
