// todo
.investment-goal,
.investment-length {
  padding: 0 20px;
  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__error {
    text-align: right;
    padding-top: 3px;
    padding-left: 86px;
    margin-bottom: 0;
  }
}

.goal-tile-wrapper {
  width: 280px;

  // todo
  .answer {
    &__label--multiline {
      font-size: 15px;
    }
  }
}

.investment-amount {
  width: 270px;
}

.investment-goal {
  &__button-contents-container {
    padding: 20px 15px;
  }
}
