.landing {
  $landingWidth: 100%;
  width: $landingWidth;

  .landing-nav {
    width: $landingWidth;
    &__logo {
      width: 150px;
    }
    &__sign-in {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      width: 120px;
    }
  }

  .landing-middle-container {
    width: $landingWidth;
    margin: 0px auto;
    padding: 0 15px;

    .landing-middle {
      &__cell-image-container {
        width: 160px;
        height: 160px;
      }
      &__group:first-child {
        padding-bottom: 10px;
      }
    }
  }

  .landing-header {
    width: $landingWidth;
  }

  .landing-top-container {
    width: $landingWidth;
  }

  .landing-middle-container {
    width: $landingWidth;
  }

  .landing-bottom-container {
    width: $landingWidth;
    .landing-bottom {
      &__row {
        flex-direction: column;
        align-items: center;
      }
      &__cell {
        width: 100%;
      }
    }
  }

  .landing-start-investing-container {
    width: $landingWidth;
  }

  .landing-footer {
    &__logo {
      width: $landingWidth;
    }
    &__section {
      width: $landingWidth;
    }
  }
}
