.login-wrapper {
  height: auto;
  min-height: 100%;
  display: block;
  &__disclaimer {
    padding-bottom: 20px;
  }
  .login-wrapper-container {
    height: 450px;
    margin: 0px auto;
    .login-container {
      height: 480px;

      .login-form {
        &__no-account {
          a {
            display: block;
            margin-left: 0px;
            width: 125px;
          }
        }
      }
    }
  }
}
