.payment-success-container {
  &__first-title {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__first-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__second-text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
