.previous-address {
  .postcode-container {
    width: 100%;
  }
  .itemPostcode {
    flex-direction: column;
    .buttonContainer {
      margin-top: 10px;
      align-self: flex-start;
      width: 110px;
      text-align: center;
      height: 30px;
    }
    .inputContainer {
      input {
        width: 100%;
      }
    }
    .controlContainer {
      margin-right: unset;
    }
  }
}
