.register-component {
  padding: 0 20px;
  &__form-wrapper {
    width: 280px;
  }
  &__form-component {
    width: 280px;
    &__multiple-fields {
      display: flex;
      .title-container {
        width: 28%;
        margin-right: 2%;
      }
      .name-container {
        width: 60%;
        margin-left: 10%;
      }
    }
    .show-hide-pass {
      margin-left: 240px;
    }
  }
  .button-container {
    width: 280px;
    &__btn {
      padding: 10px;
    }
  }
}
