.resilience {
  padding: 0 20px;
  .dropdown__select {
    width: 250px;
  }
  &__page-2-container {
    text-align: center;
  }
  &__dropdown {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__currency-container {
    width: 250px;
  }
  &__currency-input {
    input {
      width: 250px;
    }
  }
  &__tax-per-month-label {
    margin-bottom: 30px;
  }
  &__multiple-choice {
    flex-direction: column;
    align-items: center;
    button {
      width: 100%;
    }
  }
  &__tooltip-icon {
    font-size: 18px;
    margin-top: -9px;
    margin-left: 5px;
    color: $color-blue;
    position: absolute;
  }
}
