.header {
  height: 60px;
  display: flex;
  align-items: flex-start;

  &--has-navigation {
    height: 100px;
  }

  &__logo {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  &__anonymous {
    top: 15px;
  }
  &__navigation {
    width: 100%;
    justify-content: flex-end;
  }
}
