.about-wrapper {
  width: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $color-grey;
    font-size: 14px;
    padding-left: 5px;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color-grey;
    font-size: 14px;
    padding-left: 5px;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color-grey;
    font-size: 14px;
    padding-left: 5px;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-grey;
    font-size: 14px;
    padding-left: 5px;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-grey;
    font-size: 14px;
    padding-left: 5px;
  }
  ::placeholder {
    /* Most modern browsers support this now. */
    color: $color-grey;
    font-size: 14px;
    padding-left: 5px;
  }

  &__navigation {
    width: 100%;
  }

  .form-wrapper {
    &__container {
      padding-top: 15px;
    }
  }
}

.gender-tile-wrapper {
  display: flex;
  min-height: 100px;
  width: 225px;
  flex-wrap: wrap;

  .answer:nth-child(2) {
    margin-left: 0;
  }

  &__label {
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
  }
}
