.activate {
  width: 400px;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.activate-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  flex-direction: column;
  &__owl {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    img {
      width: 150px;
      height: 150px;
    }
  }
  &__info {
    text-align: center;
  }
  h2 {
    font-weight: 300;
    text-align: center;
  }
  &__btn {
    width: 200px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: $color-blue-theme;
    height: 50px;
    text-align: center;
    color: $white;
    line-height: 30px;
    border-color: $white;
    cursor: pointer;
    &:hover {
      color: $color-blue-theme;
      background-color: $white;
      border: 1px solid $color-blue-theme;
    }
  }
}
