.itemPostcode {
  .controlContainer {
    margin-right: 10px;

    .responseContainer {
      border-radius: $border-radius;
      li {
        margin-left: -25px;
      }
      .close-button {
        right: 0px;
        position: absolute;
      }
      .inputDropdown {
        padding-top: 13px;
        list-style: none;
      }
    }

    .inputContainer {
      input {
        border-radius: $border-radius;
        margin-bottom: 0;
        border: 1px solid $color-grey-light;
        padding-left: 5px;
      }
    }
  }
}
