.advice-summary-page {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-size: 18px;
    margin: 10px 0 20px 0;
    font-weight: 500;
  }
  &__subtitle {
    text-align: center;
    font-size: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &--narrow {
      flex: 3;
      margin-left: -5px;
    }
    &--wide {
      flex: 4;
      margin-right: -5px;
    }
  }

  &__info-icon {
    padding-left: 5px;
  }

  &__link-container {
    margin-top: 10px;
  }
  &__link {
    color: $color-blue;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }

  &__investment {
    min-height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      width: 85px;
      height: 85px;
      min-width: 85px;
      min-height: 85px;
      border-radius: 50%;
      font-size: 48px;
      background: $color-blue;
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-description {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:first-child {
        font-weight: 500;
        max-height: 30px;
      }
    }
  }

  &__risk-level {
    min-height: 325px;
    &-description {
      flex-direction: column;
    }
    &-dial {
      width: 280px;
      margin: 10px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &-digit {
        position: absolute;
        font-size: 30px;
        opacity: 0;
        transition: $transition-slow;

        &--visible {
          opacity: 1;
        }

        &--1 {
          color: #1590c3;
          left: 16px;
          top: 103px;
        }
        &--2 {
          color: #1590c3;
          left: 34px;
          top: 62px;
        }
        &--3 {
          color: #1590c3;
          left: 72px;
          top: 27px;
        }
        &--4 {
          color: $color-white;
          top: 12px;
          left: 131px;
        }
        &--5 {
          color: $color-white;
          top: 26px;
          left: 188px;
        }
        &--6 {
          color: $color-white;
          top: 61px;
          left: 227px;
        }
        &--7 {
          color: $color-white;
          top: 104px;
          left: 246px;
        }
      }

      &-src {
        width: 100%;
      }
      &-pointer {
        transition: $transition-slow;
        position: absolute;
        height: 150px;
        bottom: calc(-50% + 10px);
        transform: rotate(-90deg);
        left: calc(50% - 13px);
      }
    }
    &-popup-body {
      display: flex;
      flex-direction: row;
    }
    &-popup-icon {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      margin-top: 2px;

      img {
        height: 100%;
      }
    }
  }

  &__growth {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-subtitle {
      width: 100%;
      text-align: center;
      font-size: 16px;
    }

    &-container {
      display: flex;
      flex: 1 1 210px;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
    }

    &-item {
      flex: 1;
      margin: 20px 10px;
      flex-direction: column;
      display: flex;
    }

    &-image {
      width: 75%;
      max-width: 90px;
      align-self: center;
      margin-bottom: 10px;
    }

    &-item-description {
      height: 40px;
      text-align: center;
      display: flex;
      flex-direction: column;

      &--middle {
        font-weight: 500;
      }
    }

    &-level {
      flex: 1;
      margin-bottom: 5px;
    }

    &-disclaimer {
      margin-top: 10px;
      color: $color-grey-dark;
      opacity: 0.6;
    }
    &-return {
      flex: 1;
    }
    &-popup-link {
      margin-top: 10px;
      color: $color-blue;
      text-decoration: underline;
      cursor: pointer;
    }
    &-popup-content {
      // Doing it this way, so that we don't need to add classes in the content service
      & > ul > li {
        margin: 10px 0;
      }
    }
  }

  &__pie-chart-container {
    padding-top: 20px;
    display: flex;
  }

  &__fees {
    &-title {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 5px;
    }
    &-subtitle {
      font-size: 16px;
      font-weight: normal;
      margin: 0;
    }
    &-container {
      margin: 10px 0;
      flex: 1;
      display: flex;
      flex-direction: row;

      &--last {
        display: block;
        min-height: 80px;
      }
    }
    &-content {
      flex: 1;
      display: flex;
      flex-direction: column;

      &--left {
        flex: 7;
        margin: 0 15px 0 0;
      }
      &--right {
        flex: 5;
        margin: 0 0 0 15px;
      }
    }
    &-description {
      margin-top: 15px;

      a {
        color: $color-blue;
      }
    }
    &-first-checkbox {
      margin: 0;
    }
  }
  &__documents {
    &-container {
      height: 100%;
    }
    &-header {
      font-weight: 500;
    }
    &-link {
      display: block;
      margin: 20px 0 0 0;
      color: $color-blue;
    }
  }

  &__error-message {
    padding-left: 25px;
  }
}

.list-block {
  background: white;
  box-shadow: 0px 2px 6px 0px $shadow-grey;
  border-radius: $border-radius;
  padding: 20px;

  &--center-content {
    align-items: center;
  }
}

.risk-illustration-graph {
  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  &__description {
    text-align: center;
  }
  &__subtitle {
    text-align: center;
    font-size: 16px;
  }
  &__wrapper {
    overflow-x: scroll;
    height: 410px;
  }
  &__best-fit-line {
    text-shadow: 0px 1px #fff;
  }
}

.advice-summary-page-section {
  &__investment {
    min-height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 30px;
    }
  }
}

.advice-summary-page-section-multiple {
  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: space-between;
  &__investment {
    min-height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 30px;
    }
  }
}
