.answer {
  width: 160px;

  &--has-icons {
    height: 100px;
    width: 130px;
  }
  &--has-icons-small {
    height: 88px;
    width: 88px;
  }
  &__icon {
    i {
      font-size: 38px;
      margin-bottom: 10px;
      color: $color-blue-light;
    }
  }
  &__label {
    text-align: center;
    &--multiline {
      font-size: 18px;
      color: $color-blue-light;
    }

    &-top,
    &-bottom {
    }
    &-middle {
      font-size: 32px;
    }
  }
  &--large {
    width: 280px;
  }

  &--iw-answer {
    color: white;
    background-color: $color-ww-mint;
    border-color: $color-ww-mint;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    &:hover {
      color: white;
      background: $color-ww-mint;
      border-color: $color-ww-mint;
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
        0 3px 6px rgba(0, 0, 0, 0.08);
    }

    &--selected {
      border: 2px solid white;
      box-shadow: 0 0px 6px rgba(50, 50, 93, 0.7);
    }
  }

  &--iw-multiple-choice-answer {
    border: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    &:hover {
      border: 1px solid $color-ww-mint;
    }
    &--selected {
      border: 1px solid $color-ww-mint;
    }
  }
}
