.btn {
  letter-spacing: 1px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

  border-radius: 20px;
  line-height: 15px;
  font-size: 15px;
  &--primary {
    background-color: $color-ww-mint;
    border-color: $color-ww-mint;

    &:hover {
      background: $color-ww-mint;
      border-color: $color-ww-mint;
      //-webkit-transform: translateY(-1px);
      //transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
        0 3px 6px rgba(0, 0, 0, 0.08);
    }
  }

  &--outline {
    background-color: white;
    border-color: $color5;

    &:hover {
      background-color: white;
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
        0 3px 6px rgba(0, 0, 0, 0.08);
    }
  }

  &--disabled {
    &:hover {
      background: $color-ww-space-grey;
    }
  }

  &--next {
    position: relative;
    &:after {
      content: '\f0da';
      font-family: 'Font Awesome 5 Pro';
      font-weight: 900;
      font-style: normal;
      position: absolute;
      top: 13px;
      right: 8px;
    }
  }
}
