.checkbox {
  margin-top: 10px;

  &__container {
    align-items: flex-start;
    text-align: left;
  }

  &__checkbox {
    margin-top: 2px;
  }

  &__label {
    font-size: 16px;
    margin-left: 10px;
  }
}
