.confirm-objective-puzzle {  
    &__content {
      box-sizing: border-box;
      background: white;
      box-shadow: 0 2px 6px 0 $shadow-grey;
      border-radius: $border-radius;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex: 1;
    }
  
    &__text {
      font-size: 15px;
      text-align: center;
      margin-right: 4px;
    }
  }