.confirm-objective {
  &__content {
    width: 725px;
    max-width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  &__block-container {
    display: flex;
    flex-flow: row wrap;
  }

  &__block {
    padding: 5px 15px;
    box-shadow: 0 2px 6px 0 $shadow-grey;
    border-radius: $border-radius;
    margin: 10px 5px;

    &--puzzle {
      flex: 1;
      height: 70px;
      min-width: calc(50% - 10px);
    }

    &--investment-details {
      width: calc(100% - 10px);
    }
  }

  &__puzzle-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__puzzle-piece {
    height: 32px;
    margin-right: 5px;
  }

  &__puzzle-text {

  }

  &__profile {
    font-weight: bold;
  }

  // Checklist
  &__instructions {
    align-self: center;
    width: auto;
    margin: 5px 0 0;
    background: white;
  }

  &__instructions-list {
    padding: 10px 10px 10px;
  }

  &__instructions-item {
    position: relative;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  &__checkmark {
    height: 50px;
  }
}
