.cube-counter {
  &__cube {
    background: white;
    border: 1px solid $color5;
    width: 16px;
    height: 12px;
    border-radius: 3px;

    &--active {
      border: $color-ww-mint;
      background: $color-ww-mint;
    }

    &--hidden {
      width: 0;
      border-width: 1px 0;
      margin-left: 0;
    }
  }
}