.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__investment-details{
    width: calc(100% - 40px);
  }

  &__overview-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 50px;
    width: 850px;
    max-width: 100%;
  }
  &__payment-popup {
    width: 380px;
  }
}
