.footer {
  color: $white;
  background: $color-ww-space-grey;


  &__logo {
    margin: 10px auto;
    text-align: left;
    width: 100%;
    height: 50px;
  }
  &__section {
    margin: 5px auto;
    text-align: left;
    width: 100%;
  }
}
