.header {
  height: 80px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid $color5;
  border-top: 1px solid $color-ww-red;

  &__logo {
    height: 25px;
    margin-left: 32px;
    cursor: pointer;
    &-src {
      height: 100%;
    }
  }
  &__icon {
    margin-right: 6px;
  }
  &__top-message {
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-radius: $border-radius;
    position: absolute;
    right: 0;
    top: 25px;

    &--anonymous{
      background: $color-blue-light;
      color: $color-white;
    }
    &--offline{
      background: $color-red-validation;
      color: $color-white;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
  }
  &__button {
    padding: 12px 25px;
    font-size: 14px;
    margin-right: 10px;
    background: $color-blue-theme;
    border: 1px solid $color-white;
    color: $color-white;

    &:hover {
      background: $color-blue-theme;
      border: 1px solid $color-white;
      color: $color-white;
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }

    &--divider {
      padding: 5px 0 5px 10px;
      border-left: 1px solid $color-white;

      &:first-child {
        border: none;
      }
      &:hover{
        background: none;
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-right: 10px;
    }
  }
}
