.hid {
  display: flex;
  &-container {
    width: 610px;
  }
  &__heading {
    &-container {
      display: flex;
      width: 610px;
      padding: 0 20px;
      flex-direction: row;
    }
    &-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 5px;
      margin-top: 7px;
    }
    &-title {
      text-align: center;
      color: $color-blue-light;
      font-size: 20px;
      font-weight: 100;
      margin-top: 5px;
    }
  }
  &__questions {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;

    &-icon {
      margin-left: 5px;
      color: $color-blue-light;
    }

    &-error-spacer {
      height: 33px;
    }

    &-question-container {
      width: 305px;
    }

    &-row-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &--top-spacing {
        margin-top: 20px;
      }
    }
    &-question-label {
      text-align: center;
      min-height: 25px;
    }
  }
  &__button-container {
    padding: 0px 17px;
    margin-top: -5px;
    width: 540px;
  }
}

.hid-borrowing-above {
  display: flex;
  &__heading {
    &-container {
      display: flex;
      flex-direction: column;
      width: 620px;
      padding: 0 20px;
    }

    &-title {
      text-align: center;
      color: $color-blue-light;
      font-size: 20px;
      font-weight: 100;
      margin-top: 5px;
    }
  }
  &__questions {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;

    &-question-container {
      width: 600px;
      min-height: 200px;
    }
  }
  &__button-container {
    padding: 0px 17px;
    margin-top: -5px;
    width: 620px;
  }
}
