.hover-tile-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .hover-tile {
    border: none;
    box-shadow: 0px 2px 6px 0px $shadow-grey;
    border-radius: 5px;
    z-index: 1;
    background: $color-white;
    padding: 40px 15px 15px 15px;
    transition: $transition;
    position: relative;
    overflow: hidden;
    color: $color-blue-light;
  
    &:active {
      transition: none;
      background: $color-grey-light;
    }
  
    &--hover {
      border-color: $color-ww-mint;
      border-width: 2px;
      width: 225px;
      height: 225px;
      padding: 24px 14px 14px 14px;
      cursor: pointer;
    }
  
    &--hover-without-hovered-content {
      width: 225px;
      height: 225px;
      cursor: pointer;
    }
  
    &--selected {
      border: 1px solid $color-ww-mint;
      border-width: 2px;
      padding: 39px 14px 14px 14px;
    }
  
    &--selected-hover {
      padding: 24px 14px 14px 14px;
    }
  
    &__title {
      text-align: center;
      color: $color-blue-dark;
      width: 100%;
      margin: 0 auto 5px auto;
      transition: $transition-slow;
  
      &--hover {
        margin-bottom: 15px;
      }
    }
  
    &__content-wrapper {
      height: 100px;
      overflow: hidden;
      position: relative;
      transition: $transition-slow;
  
      &--hover {
        height: 150px;
      }
    }
  
    &__initial-content {
      display: flex;
      height: 100%;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 0;
      transition: $transition-slow;
      opacity: 1;
  
      &--hidden {
        top: -100%;
        left: 0;
        opacity: 0;
      }
    }
    &__hovered-content {
      position: absolute;
      top: 100%;
      transition: $transition-slow;
      width: 100%;
      height: 100%;
      opacity: 0;
      text-align: left;
  
      &--visible {
        top: 0;
        opacity: 1;
      }
    }
  }