@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .initial-checks {
    &__instructions {
      &-container {
        flex: auto;
      }
    }
  }

  .login-container {
    margin-top: 100px;
  }

  .popup {
    &__content {
      height: 467px;
      padding: 0px 15px;
      margin-bottom: -20px;
      &--no-button-bar {
        flex: auto;
        display: block;
      }
      &--is-error {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__title {
      padding: 20px 15px 15px;
    }
    &--is-error {
      height: 260px;
      width: 507px;
    }
  }

  .advice-summary-page {
    &--column {
      display: block;
    }
    &__fees-content {
      display: block;
      position: relative;
      margin-top: 20px;
    }
    &__risk-level {
      &-popup-content {
        margin-left: 30px;
      }
      &-popup-icon {
        float: left;
      }
      &-popup-body {
        display: block;
      }
    }
  }

  .dashboard {
    &__overview-container {
      margin: 0 auto;
      height: 100px;
      max-width: 1050px;
    }
  }

  .overview {
    width: 200px;
    float: left;
    margin: 0 20px;
  }

  .activate-container {
    width: 500px;
    margin: 0px auto;
  }

  .instructions {
    &__list {
      width: 100%;
    }
  }

  .risk-illustration-graph {
    &__wrapper {
      height: 450px;
    }
  }

  .resilience {
    &__currency-input {
      div {
        i {
          margin-top: 0px;
        }
      }
    }
  }

  .currency-input-wrapper {
    &__input {
      margin-top: 1px;
    }
  }

  .isa-amount {
    &__popup2 {
      .popup {
        &__content {
          &--is-error {
            display: block;
            width: 450px;
            height: 145px;
          }
        }
      }
    }
    &__title-container {
      .page-heading {
        width: 510px;
      }
    }
    &__currency-input {
      div {
        input {
          line-height: 39px;
        }
      }
      margin-bottom: 50px;
    }
    &__wrapper {
      .error-message {
        &--lock-to-page-navigation-component {
          margin: 0px 0 5px -10px;

          .error-message__title {
            width: 295px;
          }
        }
      }
    }
  }

  .confirm-objective {
    &__block-container {
      width: 700px;
    }
  }

  .isa-capture {
    &__checkbox-container {
      margin-left: 230px;
    }
  }
}

// edge
@supports (-ms-ime-align: auto) {
  .risk-illustration-graph {
    &__wrapper {
      height: 450px;
    }
  }
}
