.invest-in-future {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  background-color: $white;
  &__title {
    text-align: center;
    margin-bottom:20px;
  }
  &__main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__slider-containers-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  &__widget-container {
    width: 230px;
    height: 230px;
    img {
      width: 230px;
      height: 230px;
    }
  }
  &__slider-containers {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .rc-slider {
    &-track {
      background: none;
    }

    &-handle {
      margin-top: -14px;
      margin-left: -14px;
      width: 34px;
      height: 34px;
      border: none;
      transition: $transition-fast;
      display: flex;
      align-items: center;
      justify-content: center;

      &:active {
        border-color: $color-yellow-theme;
        box-shadow: 0 0 5px $color-yellow-theme;
      }

      &:after {
        border-radius: 50%;
        content: '';
        height: 28px;
        width: 28px;
        display: block;
        background: $color-yellow-theme;
      }
    }

    &-dot {
      &,
      &-active {
        width: 20px;
        height: 20px;
        bottom: -8px;
        border: 1px solid $color-grey;
        margin-left: -10px;
      }
    }
  }
}
