.investment-amount-icon {
  font-size: 38px;
  color: $color-ww-sea;
}

.investment-amount {
  width: 450px;

  .error-message {
    text-align: right;
    padding-left: 193px;
    &--dark {
      color: $color-grey-dark;
    }
    &--center {
      margin: 0 auto;
      text-align: center;
      padding: 5px 45px;
    }
  }

  .currency-input-wrapper {
    &__label {
      width: 201px;
      margin-top: 12px;
      margin-right: 15px;
      margin-left: 48px;
    }

    &__input {
      width: 143px;
    }
  }

  &--margin-top {
    margin-top: 10px;
  }
}
