.investment-details {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 5px 15px;
  box-shadow: 0 2px 6px 0 $shadow-grey;
  border-radius: $border-radius;

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 30px;
    min-width: 30px;
    margin-right: 10px;
  }
  &__icon {
    height: 27px;
    width: 27px;
    font-size: 16px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &--goal {
      background: $color-purple-theme;
    }
    &--lump-sum {
      background: $color-yellow-theme;
    }
    &--monthly {
      background: $color-green-theme;
    }
  }
  &__content-container {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    font-weight: bold;
  }
  &__value {

  }
}