.investment-goal {
  margin: 0 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  &__buttons {
    width: 100%;
  }

  &__icon-container {
    display: flex;
    flex-direction: row;
  }
  &__icon-descriptions-container {
    padding-top: 10px;
  }
  &__descriptions-text {
    color: $color-ww-sea;
  }
  &__bullet {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__button-contents-container {
    padding: 20px;
  }

  &__error {
    text-align: right;
    padding-top: 20px;
    padding-left: 247px;
  }

  &__icon {
    align-self: center;
    justify-content: center;
    font-size: 25px;
    color: $color-ww-sea;
  }

  &__item-title {
    padding-top: 10px;
    padding-left: 10px;
  }

  &__list {
    font-size: 14px;
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  &__item {
    padding: 5px 0;
    display: flex;
    flex-direction: row;

    &:before {
      content: '•';
      display: block;
      margin-right: 5px;
    }
  }
}
