.isa-capture {
  &__wrapper {
    .error-message {
      &--lock-to-page-navigation-component {
        margin: -10px -9px 5px -10px;

        .error-message__title {
          width: 225px;
          margin: -2px 0 0 -5px;
        }
        .error-message__body {
          margin-top: 15px;
          justify-content: flex-end;
          text-align: right;
        }
      }
    }
  }

  &__lower-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  &__title-container {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 20px;
  }

  &__image {
    max-height: 80px;
    width: 80px;
    margin-left: 27px;
  }

  &__sub-title {
    color: $color5;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__checkbox-container {
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__checkbox-title {
    margin: 15px auto 0;
    text-align: center;
    width: 300px;
  }

  &__checkbox {
    margin-bottom: 10px;
    width: 43%;
  }

  &__popup {
    width: 359px;
  }

  &__popup-button {
    margin-right: 10px;
  }

  &__tooltip-container {
    margin-top: 50px;
    margin-left: 8px;
  }

  &__error {
    text-align: right;
    // width: 200px;
  }

  &__tooltip-icon {
    color: $color-blue-light;
    font-size: 22px;
  }
}
