.isa-amount {
  &__wrapper {
    width: 500px;

    .error-message {
      &--isa-amount-min {
        .error-message__title {
          margin: -1px 0 0 -15px;
        }
      }

      &--lock-to-page-navigation-component {
        margin: -10px 0 5px -10px;

        .error-message__title {
          width: 275px;
        }

        .error-message__body {
          margin-top: 15px;
          justify-content: flex-end;
          text-align: right;
        }
      }
    }
  }

  &__image {
    max-height: 80px;
    width: 80px;
  }

  &__title {
    font-size: 20px;
  }

  &__sub-title {
    color: $color5;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 38px auto 0px auto;
  }

  &__currency-label {
    text-align: right;
  }

  &__currency-input {
    margin-bottom: 30px;
  }

  &__popup1 {
    width: 350px;
  }

  &__popup2 {
    width: 360px;
  }

  &__popup-button {
    margin-right: 10px;
  }
}
