.key-facts {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  &__title {
    padding-top: 30px;
    color: $color8;
  }
  &__fact-title {
    padding-top: 10px;
    color: $color8;
  }
  &__fact-subtitle {
    color: $color8;
  }
  &__container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__fact {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }

  i {
    font-size: 45px;
  }

  &__fact-yellow-theme {
    color: $color-yellow-theme;
    width: 220px;
  }
  &__fact-blue-theme {
    color: $color-blue-theme;
    width: 220px;
  }
}
