.landing {
  $landingWidth: 1030px;
  display: flex;
  flex-direction: column;
  &__eligibility-popup-list {
    padding-left: 20px;
  }
  .landing-nav-container {
    border-bottom: 2px solid $shadow-grey;
  }
  .landing-nav {
    width: $landingWidth;
    height: 85px;
    margin: 0px auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo {
      width: 44%;
    }
    &__sign-in {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      width: 150px;
    }
  }

  .landing-header {
    background-color: $color-blue-theme;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    &-container {
      width: 500px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      &__title {
        color: white;
        margin-bottom: 0px;
        font-weight: 500;
      }
      &__text {
        color: white;
        margin-top: 0px;
      }
      &__start-investing {
        width: 200px;
        border-radius: 2px;
        background-color: $white;
        height: 40px;
        text-align: center;
        color: $color-blue-theme;
        line-height: 40px;
        cursor: pointer;
        &:hover {
          color: $white;
          background-color: $color-blue-theme;
          border: 1px solid $white;
        }
      }
    }
    &__image {
      width: 200px;
      height: 200px;
      img {
        width: 200px;
        height: 200px;
        margin-top: 30px;
      }
    }
  }

  .landing-top-container {
    width: $landingWidth;
    margin: 0px auto;
    padding: 25px 15px 0 15px;

    .landing-top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__title {
        font-size: 41px;
        margin-top: 15px;
      }
      &__text {
        padding-right: 137px;
        font-size: 22px;
        font-weight: lighter;
      }
      &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 320px;
      }
      &__cell {
        border-radius: 15px;
        width: 49%;
        height: 300px;

        h1 {
          margin-top: 22px;
        }

        h2 {
          margin-top: 12px;
        }

        ul {
          list-style: none;
          padding-left: 0px;
        }

        li {
          margin: 10px 0;
          font-weight: lighter;
          font-size: 15px;
        }

        &--with-background {
          padding: 24px;
          color: $white;
          background: $color-ww-space;
          display: flex;
          flex-direction: row;
        }
      }
      &__cell-mini-image {
        height: 50px;
        margin-right: 15px;
      }
      &__cell-image {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }
  }

  .landing-middle-container {
    width: $landingWidth;
    margin: 0px auto;
    padding: 0 15px;

    .landing-middle {
      display: flex;
      flex-direction: column;

      &__title {
        color: $color2;
        text-align: center;
      }

      &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 100px 0 100px;
      }

      &__group {
        display: flex;
        width: 48%;
        flex-direction: row;
        justify-content: space-between;
      }

      &__cell {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__cell-image-container {
        width: 180px;
        height: 180px;
        border: 1px solid $color-ww-space;
        border-radius: 93px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__cell-image {
        &--ukpa {
          width: 116px;
          height: 120px;
        }

        &--ppa {
          width: 155px;
        }

        &--wif {
          width: 175px;
        }

        &--mma {
          margin-top: 10px;
          width: 186px;
        }
      }

      &__cell-text {
        width: 112px;
        margin-top: 15px;
        text-align: center;
        font-size: 11px;
      }
    }
  }

  .landing-bottom-container {
    width: $landingWidth;
    margin: 40px auto;
    padding: 0 15px;

    .landing-bottom {
      color: $white;
      background-color: $color-ww-space;
      border-radius: 15px;
      padding: 10px;

      &__link {
        text-decoration: underline;
        cursor: pointer;
      }

      &__title {
        text-align: center;
      }

      &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      &__cell {
        width: 41%;
      }
      &__table {
        .table__row--header {
          color: $color-ww-mint;
          background-color: $color-ww-space;
        }
        .table__row:nth-child(2n + 2) {
          background-color: $color-ww-space;
        }
        .table__cell:nth-child(2) {
          color: $color-ww-mint;
        }
      }
    }
  }

  .landing-start-investing-container {
    width: $landingWidth;
    margin: 0px auto;

    .landing-start-investing {
      display: flex;
      justify-content: center;
      &__button {
        width: 300px;
      }
    }
  }

  .landing-footer {
    margin-top: 50px;
    padding-top: 10px;
    color: $white;
    background: $color-ww-space-grey;
    &__logo {
      width: $landingWidth;
    }
    &__section {
      padding: 0 10px;
      width: $landingWidth;
    }
  }
}
