.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  min-height: 1000px;

  .login-wrapper-mobile {
    display: none;
  }

  &__disclaimer {
    margin-top: 35px;
    color: $color-white;
    text-align: center;
  }

  .login-wrapper-container {
    min-height: 500px;
    display: flex;
    flex-direction: row;

    .login-container {
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-white;
      box-shadow: 0px 2px 6px 0px $shadow-grey;
      height: 550px;
      width: 600px;

      &__popup {
        width: 359px;
        .popup__content {
          height: 100px;
        }
      }

      &__popup-button {
        margin-right: 10px;
      }

      &__name {
        width: 292px;
        height: 50px;
        margin-top: 20px;
        align-self: flex-start;
        margin-left: 150px;
        img {
          width: 292px;
        }
      }

      .login-form {
        margin-top: 10px;
        width: 300px;
        height: 350px;
        h2 {
          font-weight: 300;
        }
        &__no-account {
          a {
            color: $color-blue-theme;
            text-decoration: underline;
            font-size: 15px;
            margin-left: 5px;
            cursor: pointer;
          }
        }

        &__forgot-password {
          color: $color-blue-theme;
          text-decoration: underline;
          text-align: center;
          margin-top: 20px;
          display: block;
          cursor: pointer;
        }

        .input-wrapper {
          &__input {
            width: 300px;
            height: 40px;
            border: 1px $color-grey solid;
          }
        }

        .btn {
          background-color: $color-blue-theme;
          width: 300px;
          height: 40px;
          margin-top: 10px;
          color: $color-white;
          border: 0;
        }

        &__activated-container {
          width: 100%;
          background: lighten($color-green-theme, 28%);
          border: 2px solid $color-green-theme;
          border-radius: 2px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 40px;
          margin-bottom: 25px;
        }
        &__activated-icon {
          color: $color-green-theme;
          font-size: 25px;
          margin-left: 15px;
          margin-top: -7px;
        }
        &__activated-text {
          width: 195px;
          font-size: 14px;
          margin-left: 14px;
          line-height: 18px;
          font-weight: 300;
        }
      }
    }
  }
}
