.mobile-header {
  height: 80px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $color-white;
  border-top: 1px solid $color-ww-red;

  &__logo {
    height: 63px;
    margin-left: 10px;
    cursor: pointer;
    &-src {
      width: 250px;
      height: 24px;
      margin-top: 20px;
      margin-left: 5px;
    }
  }
  &__icon {
    margin-right: 6px;
  }

  &__top-message {
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-radius: $border-radius;
    position: absolute;
    right: 0;
    top: 25px;

    &--anonymous {
      background: $color-blue-light;
      color: $color-white;
    }
    &--offline {
      background: $color-red-validation;
      color: $color-white;
    }
  }

  &__hamburger {
    font-size: 38px;
    color: $color-blue-theme;
    margin-right: 10px;
  }

  &__menu-container {
    background: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 80px;
    border-bottom: 1px solid $color-grey;
    transition: height 0.5s ease-out;
    overflow: hidden;
    z-index: 3;

    &--open {
      height: 1200px;
    }

    &--closed {
      height: 0px;
    }
  }

  &__contact-us {
    transition: height 0.2s ease-out;
    overflow: hidden;
    border-bottom: 1px solid $color-grey-light-alt;

    &--open-closed {
      padding: 10px;
      height: 260px;
    }
    &--open-open {
      padding: 10px;
      height: 323px;
    }
    &--closed-closed {
      height: 0px;
    }
    &--closed-open {
      height: 0px;
    }
  }

  &__contact-us-email {
    margin-top: 10px;
  }

  &__button {
    width: 100%;
    border: none;
    text-align: left;
  }

  &__link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &-icon {
      transition: $transition;
      transform: rotate(0deg);

      &--open {
        transform: rotate(180deg);
      }
    }
  }
}
