.need-more-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  &__paragraph {
    text-align: center;
  }

  &__button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    max-width: 100%;
  }

  &__btn {
    width: 235px;
    max-width: 40vw;
  }
}