.panel-button {
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  width: 500px;
  margin-bottom: 30px;
  height: 115px;
  cursor: pointer;
  &:nth-last-child {
    margin-bottom: 0px;
  }

  &:hover {
    border: 2px solid $color-ww-mint;
  }
  &--selected {
    border: 2px solid $color-ww-mint;
  }
}
