.payment-success-container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;

  &__owl {
    display: flex;
    justify-content: center;

    &-img {
      height: 111px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    &-title {
      flex-grow: 1;
    }
    &-text {
      flex-grow: 1;
    }
  }

  &__first {
    &-title {
      font-weight: 300;
      margin-bottom: 20px;
    }
    &-text {
      font-weight: 300;
      margin-top: -5px;
    }
  }

  &__second {
    &-title {
      font-weight: 400;
    }
    &-text {
      font-weight: 300;
      margin-top: -17px;
    }
  }
}
