.payment-container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;

  &__owl {
    display: flex;
    justify-content: center;

    &-img {
      height: 111px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    &-title {
      flex-grow: 1;
    }
    &-text {
      flex-grow: 1;
    }
  }

  &__first {
    &-title {
      font-weight: 300;
      margin-bottom: 20px;
    }
    &-text {
      font-weight: 300;
      margin-top: -5px;
    }
  }

  &__second {
    &-title {
      font-weight: 400;
    }
    &-text {
      font-weight: 300;
      margin-top: -17px;
    }
  }

  &__buttons {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--pay {
      width: 300px;
      background-color: $color-blue-theme;
      color: $color-white;
      border-color: $color-blue-theme;
    }
    &--pay:hover {
      background-color: $color-white;
      color: $color-blue-theme;
      border-color: $color-blue-theme;
    }
    &--pay-disabled {
      width: 300px;
      background-color: $color7;
      color: $color-white;
      border-color: $color7;
    }
    &--pay-disabled:hover {
      cursor: no-drop;
      background-color: $color7;
      color: $color-white;
      border-color: $color7;
    }
    &--download {
      margin-bottom: 20px;
      width: 300px;
      background-color: $color-white;
      color: $color-blue-theme;
      border-color: $color-blue-theme;
    }
    &--download:hover {
      background-color: $color-blue-theme;
      color: $color-white;
      border-color: $color-white;
    }
  }
}
