.popup-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: $transition;

  &--visible {
    opacity: 1;
    z-index: 9999;
  }

  &--fading-out {
    opacity: 0;
  }

  &__handler {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.popup {
  $popup-padding: 10px 15px;

  z-index: 10;
  width: 550px;
  min-height: 200px;
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: $transition;
  border: 1px $color-grey solid;
  &--visible {
    opacity: 1;
  }

  &--is-error {
    width: 400px;
  }

  &--fading-out {
    opacity: 0;
  }

  &__title {
    padding: $popup-padding;
    font-size: 22px;
    border-bottom: 0px;
    max-height: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__content {
    padding: $popup-padding;
    overflow-y: auto;

    &--no-button-bar {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    &--is-error {
      padding-bottom: 20px;
      align-items: center;
    }
  }

  &__button-bar {
    padding: $popup-padding;
    border-top: 0px;
    max-height: 66px;
    min-height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__button {
    margin: 0 5px;
    height: 45px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
