.previous-address {
  width: 100%;
  min-height: 0px;
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &__form-wrapper {
    min-height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: $color-white;
    z-index: 1001;
    align-self: center;
    border-radius: 12px;
  }
  &__title {
    color: $color-blue-light;
    margin-top: -24px;
  }
  &__btn {
    margin-top: 30px;
  }
  &__column {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__row {
    display: flex;
    flex-direction: row;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    height: 35px;
    line-height: 25px;
  }
  &__btn-container {
    width: 80px;
    display: flex;
    justify-content: space-around;
  }
  &__edit-btn {
    cursor: pointer;
  }
  &__edit-btn-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  &__delete-btn {
    cursor: pointer;
  }
  &__title {
    color: $color-blue-light;
    margin-top: 10px;
  }
  &__close-btn {
    margin-top: -40px;
  }
  .item {
    margin-top: 10px;
    input {
      min-height: 30px;
      padding-left: 5px;
    }
  }
  .buttonContainer {
    cursor: pointer;
    padding: 4px 10px;
    user-select: none;
    border-width: 0;
    border-style: solid;
    border-radius: $border-radius;
    background-color: $color-blue-light;
    color: white;

    .buttonLabel {
      font-size: 14px;
    }
    &:hover {
      background-color: $color-blue-lighter;
    }
  }
}

.current-address {
  width: 100%;
  min-height: 0px;
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &__form-wrapper {
    min-height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: $color-white;
    align-self: center;
    border-radius: 12px;
  }
  &__title {
    color: $color-blue-light;
    margin-top: -24px;
  }
  &__column {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
