.progress-view {
  padding: 40px 50px 0;
  width: 850px;
  max-width: 100%;

  &__header {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  &__section-container {
    display: flex;
    flex-flow: column;
    padding: 0 20px;
  }
}
