.progress-section {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 6px 0px $shadow-grey;
  align-content: center;
  text-align: center;
  position: relative;
  margin: 20px;
  background: $color-white;

  &--big {
    height: 335px;
    width: 335px;
  }

  &__paynow {
    z-index: 10;
    width: 250px;
    position: absolute;
    top: 116px;
    left: 43px;
    padding: 16px;
    background: lighten($color-yellow-theme, 15%);
    border: 2px solid $color-orange-theme;
  }

  &__paynow-link {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    &--disabled {
      cursor: not-allowed;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba($color-grey, 0.2);
    border-radius: 50%;
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__content {
    height: 280px;
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__icon {
    margin-top: 40px;
    font-size: 36px;
  }
  &__title {
    font-weight: 500;
    margin-top: 10px;
  }

  &__description {
    font-size: 15px;
    width: 210px;
    font-weight: 300;
    align-self: center;
    margin-top: 10px;
  }

  &__footer {
    position: absolute;
    bottom: 40px;
    width: 280px;
    align-self: center;
    left: 0;

    &--stacked {
      bottom: 35px;
    }

    &--big {
      padding: 0 20px;
    }
  }

  &__duration {
    margin-bottom: -30px;
    font-size: 14px;
  }

  &__button {
    width: 108px;
    padding: 10px 20px;
    align-self: center;
    &--hide {
      display: none;
    }
    &--big {
      width: 169px;
    }
    &--stacked {
      width: 145px;
    }
  }

  &__completed {
    width: 200px;
    background: $color-grey-theme;
    height: 40px;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    &--big {
      top: 165px;
    }
  }
  &__completed-icon {
    position: absolute;
    right: -22px;
    top: -27px;
    width: 40px;
  }
}
