.question {
  max-width: 100%;

  &--dual-answer {
    width: 650px;
  }
  &--narrow {
    width: 445px;
  }

  &__counter-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__counter {
    align-self: center;
    margin: 10px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__counter-cube {
    background: white;
    border: 1px solid $color5;
    width: 16px;
    height: 12px;
    border-radius: 3px;

    &--active {
      border: $color-ww-mint;
      background: $color-ww-mint;
    }
  }
  &__additional {
    &--visible {
      max-height: 355px;
    }
  }
  &__additional-options-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }
}
