.register-component {
  &__form-wrapper {
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
  }
  &__form-component {
    width: 400px;
    margin-bottom: 10px;

    &--grey {
      padding: 0 20px 0 20px;
      background: $color-grey-lighter;
    }
    &__multiple-fields {
      display: flex;
      .title-container {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-right: 15px;
        .input-wrapper {
          &__label {
            margin-top: 0;
          }
        }
      }
      .name-container {
        display: flex;
        flex-direction: column;
        width: 70%;
      }
    }
    .show-hide-pass {
      position: absolute;
      margin-left: 360px;
      margin-top: 0;
      color: $color-blue-light;
      cursor: pointer;
    }
  }
  &__input {
    width: 100%;
    .input-wrapper {
      &__label {
        margin-top: 0;
      }
    }
  }

  &__logo {
    max-height: 45px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__subtitle {
    padding-top: 10px;
  }

  &__header {
    padding: 20px 20px 0 20px;
    display: flex;
  }

  &__url {
    &,
    &:visited {
      color: $color-blue;
    }
  }

  &__header-icon {
    margin-left: -20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: $color-blue;
  }
  &__header-label {
    font-size: 16px;
    flex-direction: row;
    color: $color-grey-dark;
    font-weight: bold;
  }

  &__list {
    margin-top: 5px;
    padding-left: 30px;
    color: $color-grey-dark;
  }
  &__item {
    list-style: none;
    padding: 8px 0;
    display: flex;
  }
  &__icon {
    margin-right: 10px;
  }
  &__label {
    font-size: 16px;
  }
  .button-container {
    width: 400px;
  }
}
