.resilience {
  &__currency-input {
    input {
      width: 350px;
    }
    border-radius: $border-radius;
  }
  &__currency-container {
    margin: 0 auto;
    width: 350px;
  }
  &__page-2-container {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__tax-per-month-label {
    height: 20px;
    color: $color-ww-mint;
  }
  &__error-page-2 {
    padding-top: 10px;
    padding-left: 30px;
  }
  &__tooltip-icon {
    font-size: 18px;
    margin-top: 3px;
    margin-left: 5px;
    color: $color-blue;
  }
  &__tooltip-popup {
    height: 240px;
  }
}
