.spinner {
  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    opacity: 0;
    z-index: -2;
    transition: $transition;

    &--visible {
      opacity: 0.7;
      z-index: 99999;
    }
  }
}
