.time-at-address {
  &__title {
    margin-bottom: 10px;
  }
  &__dropdown {
    background-color: white;
    margin-left: 0;
    &--first {
      margin-right: 10px;
    }
  }
  &__time {
    margin-top: 20px;
    min-height: 30px;
    font-size: 13px;
    width: 165px;
  }
  padding-bottom: 5px;
}
