.todo {
  display: flex;
  flex-direction: row;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    left: 0;
    top: 0;
  }

  &__progress-bar {
    width: 98px;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-size: 14px;
  }
  &__progress-container {
    max-width: 188px;
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__icon-container {
    display: flex;
    width: 30px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__circle {
    width: 30px;
    height: 30px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }

  &__check {
    position: absolute;
    left: calc(50% + 8px);
    top: calc(50% - 8px);
    transform: translate(-50%, -50%);
    width: 60px;
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
  }
  &__completed {
    font-size: 12px;
  }
  &__payment-complete {
    font-size: 12px;
    margin-right: 6px;
    margin-bottom: 10px;
  }
  &__duration {
    font-size: 12px;
  }
  &__button {
    margin-top: 10px;
    padding: 0 20px;
    font-size: 12px;
    height: 35px;
  }
  &__description {
    margin-top: 10px;
  }

  &__paynow-link {
    margin-bottom: 10px;

    &--disabled {
      cursor: not-allowed;
    }
  }
}
