.react-tooltip {
  background-color: #FFF;
  border: 1px $color-blue-light solid !important;
  padding: 5px;
  width: 250px;
}

.__react_component_tooltip.type-light {
  color: $color-grey-dark;
  font-size: 15px;
}

.__react_component_tooltip.type-light.border.place-top:before {
  border-top: 8px solid $color-blue-light !important;
}

.__react_component_tooltip.show {
  opacity: 1 !important;
}
