// Colors
$white: #ffffff;

$color1: #aa1e1e; // Red
$color2: #c21b1b; // Light red

$color3: #194b71; // Blue
$color4: #0f7ead; // Light blue
$color9: #97bed3; // Faded blue

$color5: #a4a4a4; // Silver
$color6: #f6f6f6; // Lighter grey
$color7: #e1e1e1; // Light grey
$color8: #4e585e; // Dark grey/blue-ish
$color9: #484419;
$color10: #4d839a;

$verticalTextPadding: 16px;
$verticalItemPadding: 30px;

$h1FontSize: 26px;
$border-radius: 9px;

// Owly palette
// $color-blue-theme: #66b9f1;
// $color-purple-theme: #8a71c5;
// $color-green-theme: #93c48c;
// $color-yellow-theme: #f7cf5e;
// $color-orange-theme: #ee877c;
// $color-pink-theme: #ec7296;

$color-blue-theme: #0F6b92;
$color-purple-theme: #844196;
$color-green-theme: #93c48c;
$color-yellow-theme: #f7cf5e;
$color-orange-theme: #ee877c;
$color-pink-theme: #e3832f;

$color-ww-red: #aa1e1e;
$color-ww-mint:#4db39a;
$color-ww-sand:#f4d145;
$color-ww-orange: #e3832f;
$color-ww-space: #426577;
$color-ww-space-grey: #494949;
$color-ww-purple: #844196;
$color-ww-sea: #0F6b92;
