<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <base href="{{{CONTEXT_ROUTE}}}/" />
  <title>
    <%= htmlWebpackPlugin.options.title%>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">
  <link href="//fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <script type="text/javascript">
    window.WealthWizards = {{{clientEnv}}}
  </script>
  <!-- Hotjar Tracking Code for ww.wealthwizards.io -->
  <script>
    var hotJarInit = function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:window.WealthWizards.HOTJAR_SITE_ID,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    };
    if (window.WealthWizards && window.WealthWizards.HOTJAR_SITE_ID) {
      hotJarInit(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    };
  </script>
</head>

<body>
  <!-- mounting point for the app -->
  <div id="app"></div>
  <!-- webpack bundles will appear here -->

</body>

</html>
