.itemPostcode {
  display: flex;
}

.address-wrapper {
  width: 200px;
  &__manual-title-container {
    margin-top: -5px;
    cursor: pointer;
    &__title {
      color: $color-blue-light;
    }
    i {
      color: $color-blue-light;
      float: left;
      margin-right: 5px;
    }
  }
  &__add-previous-title {
    margin-top: 25px;
  }
}

.manual-input-container {
  input {
    margin-bottom: 0px;
  }
  .error-message--compact {
    margin: 0px 0 10px -10px;
  }
}
