.answer {
  height: 50px;
  border: 2px solid $color-grey-light;
  border-radius: $border-radius;
  margin: 10px;
  color: $color-grey-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width: 260px;
  transition: $transition;
  -webkit-backface-visibility: hidden;
  background: $color-white;

  &:hover {
    cursor: pointer;
    border-color: $color-blue-light;
    color: $color-blue-light;
    transform: scale(1.05);
  }

  &--has-image {
    height: 250px;
  }

  &--faded {
    opacity: 0.3;
  }

  &--selected {
    color: $color-blue-light;
    border-color: $color-blue-light;
  }

  &__image {
    width: 210px;
    height: 150px;
    &-src {
      height: 100%;
    }
  }
  &__label {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;

    &--has-image {
      margin-top: 12px;
    }

  }
}