html, body, #app {
  min-height: 100vh;
  height: 100%;
  color: $color-grey-dark;
}

body {
  &:not(.user-is-tabbing) {
    * {
      outline: none;
    }
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.center-desktop {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

input {
  box-shadow: none;
}
