.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 10px;

  &--no-side-margins {
    margin-left: 0;
    margin-right: 0;
  }

  &--no-top-margin {
    margin-top: 0;
  }

  &--center-buttons {
    justify-content: center;
  }

  &__right-button {
    margin-left: auto;
  }
}
