.btn {
  display: inline-block;
  padding: 10px 30px 12px 30px;
  user-select: none;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  color: $color-grey-dark;
  font-size: 16px;
  background: $color-white;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: $primary;
    border-color: $primary;
    color: $color-white;

    &:hover {
      background: $primary-light;
      border-color: $primary-light;
    }
  }

  &--secondary {
    background: $secondary;
    border: 2px solid $color-white;
    color: $color-white;
    box-shadow: $box-shadow;
    border-radius: 10px;
    transition: $transition-fast;

    &:hover {
      box-shadow: 0 3px 10px 0 $shadow-grey;
    }
  }

  &--outline {
    border-color: $color-grey-light;

    &:hover {
      background: $color-grey-lighter;
    }
  }

  &--wider {
    padding-left: 70px;
    padding-right: 70px;
  }

  &--no-border {
    border: none;
  }

  &--disabled {
    opacity: 0.3;

    &:hover {
      background: $primary;
      cursor: default;
    }
  }

  &__label {
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
  }
}
