.checkbox {
  &__container {
    display: flex;
    align-items: center;
  }
  &__checkbox {

    &--custom {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__label {
    margin-left: 5px;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  &__custom-box {
    width: 15px;
    height: 15px;
    min-height: 15px;
    min-width: 15px;
    border: 1px solid $color-blue;
    background: $color-white;
    border-radius: $border-radius;
    position: relative;
    margin-top: 2px;

    &:active {
      background: $color-grey-lighter;
    }
    &:hover {
      cursor: pointer;
    }
    i {
      position: absolute;
      top: 0;
      left: 0;
      height: 14px;
      width: 14px;
      font-size: 14px;
      color: $color-blue;
    }
  }
}