.close-button {
  margin-left: auto;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  text-align: center;
  transition: $transition;
  border-radius: $border-radius;

  &:hover {
    background: $color-grey-lighter;
    cursor: pointer;
  }

  &__icon {
    margin-left: 2px;
    margin-top: -1px;
    font-size: 30px;
    transform: rotate(45deg);
  }
}