.contact-phone {
  $openingTimesHeight: 60px;

  &__content-close {
    position: absolute;
    left: 260px;
    top: 0;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
  }

  &__title-icon {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background: $color-contact-phone;
    color: $color-white;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-dark;
    display: inline-block;
    margin-top: 5px;

    &--phone-number {
      font-size: 18px;
    }
  }

  &__phone-available {
    margin-top: 15px;
  }

  &__opening-hours {
    display: inline-block;
    margin-top: 10px;
    color: $color-blue;

    &:hover {
      cursor: pointer;
    }

    &-icon {
      transition: $transition;
      transform: rotate(0deg);

      &--active {
        transform: rotate(180deg);
      }
    }
  }

  &__hours-table {
    height: 0;
    overflow: hidden;
    transition: $transition;

    &--visible {
      height: $openingTimesHeight;
    }
  }
  &__hours-table-inner {
    height: $openingTimesHeight;
  }
  &__hours-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  &__hours-label {
    flex: 3;
  }
  &__hours-time {
    flex: 2;
  }
}
