.contact-email {
  $contentWidth: 300px;
  $contentHeight: 140px;
  $openingTimesHeight: 60px;

  &__content-inner {
    width: $contentWidth - 40px;
    height: $contentHeight - 30px;
  }

  &__content-close {
    position: absolute;
    left: $contentWidth - 40px;
    top: 0;
  }

  &__title-icon {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background: $color-contact-email;
    color: $color-white;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-dark;
    display: inline-block;
    margin-top: 5px;
  }

  &__email-description {
    margin-top: 15px;
  }
}
