.content-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $color-grey-lighter;
  padding: 25px;
  margin: 5px;

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__content {
    display: flex;

    &--centered {
      justify-content: center;
    }
  }
}
