@keyframes nudge {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-20deg) scale(1.1);
  }
  10% {
    transform: rotate(20deg) scale(1.1);
  }
  15% {
    transform: rotate(-20deg) scale(1.1);
  }
  20% {
    transform: rotate(20deg) scale(1);;
  }
  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(-20deg) scale(1.1);
  }
  60% {
    transform: rotate(20deg) scale(1.1);
  }
  65% {
    transform: rotate(-20deg) scale(1.1);
  }
  70% {
    transform: rotate(20deg) scale(1);;
  }
  75% {
    transform: rotate(0deg);
  }
}

.contact {
  $contentWidth: 300px;
  $contentHeight: 140px;
  $openingTimesHeight: 60px;

  position: absolute;
  right: 0;
  top: 100px;
  z-index: 999;

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
  }

  &__button {
    width: 55px;
    height: 55px;
    transition: $transition;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 26px;

    &:hover, &--active {
      cursor: pointer;
      font-size: 32px;
      width: 65px;
      height: 65px;
    }

    &--phone {
      background: $color-contact-phone;
    }
    &--email {
      background: $color-contact-email;
    }
  }

  &__phone-icon{
    &--nudge{
      animation: nudge 2s;
    }
  }

  &__content {
    border-width: 0;
    border-style: solid;
    border-radius: $border-radius;
    width: 0;
    height: 0;
    right: 55px;
    position: absolute;
    transition: $transition;
    z-index: -1;
    padding: 0;
    overflow: hidden;

    &--visible {
      border-width: 1px;
      background: white;
      width: $contentWidth;
      height: $contentHeight;
      padding: 15px 25px 15px 15px;
    }

    &--phone-times-open {
      height: $contentHeight + $openingTimesHeight;
    }

    &--phone {
      border-color: #facb0e;
      top: 0;
    }
    &--email {
      border-color: #d9722b;
      top: 55px;
    }
  }
}
