.contact-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 0 30px;

  &__icon {
    color: $color-blue;
    margin-right: 10px;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__value {
    color: $color-blue;
    margin-bottom: 3px;
    text-decoration: none;
  }
  &__description {

  }
}