.cube-counter {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: $transition-fast;

  &__inner {
    align-self: center;
    margin: 10px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__cube {
    background: $color-grey-light;
    width: 15px;
    height: 12px;
    border-radius: $border-radius;
    margin-left: 4px;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      background: $color-blue-light;
    }
  }
}