.currency-input-wrapper {
  display: flex;
  flex: 1;
  margin-bottom: 10px;

  &__container {
    position: relative;
  }
  &__icon {
    position: absolute;
    top: 10px;
    pointer-events: none;
    width: 25px;
    left: 6px;
    text-align: center;
    font-style: normal;
  }

  &__input {
    padding-left: 25px;
    border-radius: 2px;
    min-height: 39px;
    width: 100px;
    border: 1px solid $color-grey-light;
  }

  &__label {
    width: 150px;
    margin-top: 10px;
    margin-right: 10px;
  }

}
