.dropdown {
  &__select {
    width: 100%;
    max-width: 100%;
    height: 100%;
    &--double {
      width: 45%;
      padding: 0;
      float: left;
      margin: 0 6% 10px 0;
    }
  }
  &__option {
    &--nulllabel {
      font-style: italic;
    }
  }
}
