.error-message {
  color: $color-red-validation;
  border: 1px solid $color-red-validation;
  margin: 12px 7.5%;
  background: lighten($color-red-validation, 50);
  font-size: 13px;
  overflow: hidden;
  transition: $transition;
  height: 0;
  padding: 0 10px;
  opacity: 0;

  &--active {
    height: auto;
    padding: 5px 10px;
    opacity: 1;
  }

  &--no-padding {
    padding: 0;
  }

  &--compact {
    border: 0;
    margin: 0 0 10px -10px;
    background: transparent;
  }

  &--lock-to-page-navigation-component {
    .error-message__body {
      margin-top: 15px;
      justify-content: flex-end;
    }
  }

  &--inline {
    margin: 0;
    padding: 0;
  }
  &--inline-active {
    padding: 5px 0;
  }

  &__body {
    &--compact {
      display: flex;
    }
  }

  &__title {
    &--compact {
      margin: -1px 0 0 6px;
    }
  }

  &__infobox {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 18px;
    margin-right: 10px;
  }
}
