.explanation {
  background: $color-grey-lighter;
  padding: 20px 30px;
  text-align: center;
  position: relative;
  max-height: 200px;
  transition: $transition;
  overflow: hidden;
  margin: 20px 0;

  &__wrapper {
    display: flex;
    i {
      color: $color-blue-light;
      font-size: 20px;
    }
  }

  &--hidden {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__text {
    margin: 0 0 0 10px;
    text-align: left;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__content {

  }
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    padding-top: 1px;
    width: 20px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: $transition;
    transform: rotate(45deg);

    &:hover {
      cursor: pointer;
      background: darken($color-grey-lighter, 10);
    }
  }
}
