.footer {
  color: $color-grey;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 245px;
  max-width: 100%;
  padding: 70px 20px 50px 20px;

  &--light {
    color: $color-white;
  }

  &__logo {
    width: 165px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    &-src {
      height: 100%;
    }
  }

  &__section {
    margin: 5px auto;
    text-align: center;
    width: 600px;
    max-width: 100%;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    color: $color-grey;

    &--light {
      color: $color-white;
    }
  }
}
