.forgotten-password {
  &__container {
    display: flex;
    justify-content: center;

    .page-heading__subtitle--small {
      font-size: 15px;
      margin-top: 10px;
      width: 295px;
    }
  }

  &__sent {
    width: 355px;

    .page-heading__subtitle--small {
      font-size: 15px;
      margin-top: 10px;
      width: 380px;
    }
  }

  &__reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;

    .error-message {
      margin-left: -22px;
    }

  }

  &__reset-button {
    width: 190px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__email-input-wrapper {
    margin-top: 15px;
    width: 250px;
  }

  &__email-input {
    line-height: 30px;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
    color: $color-blue-light;
    font-size: 13px;
  }
}
