@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
  .answer {
    &__label {
      &--multiline {
        margin-top: -10px;
      }
    }
  }

  .type-picker {
    &__type-line {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      min-width: 150px;
    }
  }

  .instructions {
    &__items {
      max-width: 100%;
    }
  }

  .popup {
    &__content {
      display: flex;
      flex: 0 1 auto;

      &--is-narrow {
        height: auto;
        min-height: 80px;
        display: flex;
        align-items: center;
      }
    }
  }

  .dropdown {
    &__select {
      &--double {
        width: 75px;
      }
    }
  }
}
