.input-wrapper {
  width: 200px;
  &__label {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    color: $color-grey-dark;
  }
  &__input {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid $color-grey-lighter;
    margin-bottom: 15px;
    padding-left: 5px;

    &--small {
      width: 50%;
    }

    &--error {
      border-color: $color-red;
    }
  }
  &__select {
    width: 110px;
    height: 28px;
    margin-bottom: 18px;
  }
}
