.instructions {
  background: $color-grey-lighter;
  border-radius: $border-radius;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0 0;
  max-width: 100%;
  width: 500px;
  overflow: hidden;
  padding: 0 30px;

  &--wide {
    width: 600px;
  }

  &__sub-container {
    flex-direction: column;
    display: flex;
  }

  &__title {
    font-weight: 500;
    color: $color-grey-dark;
    text-align: center;
    padding-top: 15px;
  }

  &__items {
    display: flex;
    flex-direction: row;
  }

  &__item-container {
    padding: 10px 10px 20px 10px;
    width: 200px;
  }

  &__item-title {
    font-weight: bold;
    font-size: 18px;
    color: $color-grey-dark;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 15px;
    color: $color-grey-dark;
    text-align: center;
    margin-top: 0;
  }

  &__icon {
    font-size: 36px;
    height: 32px;
    text-align: center;
    width: 100%;

    &-src {
      height: 100%;
    }
  }

  &__list {
    margin: 0;
    padding: 15px 0 30px 0;
  }

  &__list-item {
    list-style: none;
    font-size: 15px;
    color: $color-grey-dark;
    margin-bottom: 30px;
    display: flex;

    &:last-child {
      margin: 0;
    }
  }

  &__list-number, &__list-custom-bullet {
    display: inline-block;
    margin-right: 10px;
  }
  &__list-label {

  }

  &__contact-details {
    padding-bottom: 15px;
  }
}
