.more-info {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 500px;
  overflow: hidden;
  padding-bottom: 20px;
  margin-top: -20px;

  &__link {
    color: $color-blue;
    margin-bottom: 3px;
    text-decoration: none;
  }

}
