.notification {
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: height .5s ease-out;
  font-weight: 300;
  display: flex;

  &--show-normal {
    height: 38px;
  }

  &--hide-normal {
    height: 0px;
  }

  &--show-fixed {
    position: fixed;
    padding: 15px;
  }

  &--hide-fixed {
    height: 0px;
  }

  &__text {
    margin-left: 6px;
  }

  &--success {
    background: $color-green-theme;
    color: lighten($color-green-theme, 40%);
  }

  &--error {
    background: $color-orange-theme;
    color: darken($color-orange-theme, 40%);
  }

  &--warning {
    background: $color-yellow-theme;
    color: darken($color-yellow-theme, 40%);
  }
}
