.overview {
  padding: 5px;

  &__inner{
    display: flex;
    flex-direction: row;
    min-width: 225px;
    border: 1px solid darken($color-grey-theme, 2%);
    border-bottom-width: 0px;
    border-right-width: 0px;
    padding: 10px;
    background: $color-white;
    box-shadow: 2px 2px 5px darken($color-grey-theme, 13%);
    align-items: center;
  }

  &__icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    font-size: 28px;
    color: $color-white;

    &--goal {
      background: $color-purple-theme;
    }

    &--amount {
      background: $color-yellow-theme;
    }

    &--monthly {
      background: $color-green-theme;
    }

    &--length {
      background: $color-blue-theme;
    }

    &--target {
      background: $color-orange-theme;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

  }

  &__title {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
  }

  &__outcome {
    font-weight: 400;
  }

}
