.page-heading {
  text-align: center;
  width: 100%;

  &__image {
    max-height: 60px;
    margin-bottom: 10px;
  }

  &__icon {
    color: $color-blue;
    font-size: 40px;
  }

  &__title {
    color: $color-blue-light;
    font-size: 28px;
    font-weight: 100;

    &--small {
      color: $color-grey-dark;
      font-size: 16px;
      font-weight: inherit;
    }
  }

  &__subtitle {
    color: $color-grey-dark;
    font-size: 20px;
    max-width: 500px;
    margin: auto;
    padding-top: 20px;

    &--small {
      padding-top: 5px;
      font-size: 16px;
    }

    &--slider {
      padding-top: 5px;
      font-size: 17px;
      text-align: left;
      margin-left: 20px;
      padding-bottom: 10px;
    }
  }

  &--bold {
    font-weight: 500;
  }
}
