.page {
  opacity: 0;
  display: none;
  transition: $transition;
  width: 1050px;
  max-width: 100%;
  align-self: center;
  padding: 20px;

  &--active {
    display: block;
  }

  &--active-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--visible {
    opacity: 1;
  }

  &--upcoming {
    transform: translateX(30px);
  }
  &--visited {
    transform: translateX(-30px);
  }

  &__title-image {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;

    img {
      height: 100%;
    }
  }

  &__title {
    text-align: center;
    color: $color-blue;
    font-weight: 300;
    font-size: 28px;
  }
  &__subtitle {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    margin-top: 8px;
  }
  &__navigation {
    &--full-width {
      width: 100%;
    }
  }
}
