.password-input{
  &__input {
    width: 100%;
  }
  &__container {

    .show-hide-pass {
      position: absolute;
      margin-left: 360px;
      margin-top: 0px;
      color: $color-blue-light;
      cursor: pointer;
    }

    &__input {
      width: 100%;
      .input-wrapper {
        &__label {
          margin-top: 0px;
        }
      }
    }

    .password-conditions {
      &__item {
        display: flex;
        height: 30px;
      }
      &__title {
        margin:0px 0px 0px 15px;
      }
      &__check {
        color: $color-grey-light;
        &--checked {
          color: #00AA55;
        }
      }
    }
  }
}
