.pie-chart {
  position: relative;
  &__chart {
    position: absolute;
    transform: scaleX(-1);

    &--inverted {
      transform: scaleX(1);
    }

    &--shadow {
      filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.5));
    }
  }

  &__path {
    will-change: auto;
    stroke-miterlimit: round;
    transition: all 850ms ease-in-out;

    &--fixed {
      transition: stroke-dashoffset 850ms ease-in-out;
    }

    &--meter {
      transform-origin: center;
      transform: rotate(0deg);
    }
  }

  &__tooltip {
    display: none;
    padding: 5px 10px;
    position: absolute;
    background: $color-white;
    transform: translate(-50%, -125%);
    border-radius: $border-radius;
    border: 1px solid $color-grey-light;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 999;

    &--visible {
      display: block;
    }

    &-color {
      height: 15px;
      width: 15px;
      margin-right: 10px;
      display: inline-block;
      min-width: 15px;
    }
    &-label {
      white-space: nowrap;
      display: inline-block;
    }
    &-arrow {
      position: absolute;
      width: 10px;
      height: 10px;
      background: $color-white;
      transform: rotate(45deg) translate(-25%, 25%);
      left: 50%;
      bottom: -5px;
      border-width: 0 1px 1px 0;
      border-color: $color-grey-light;
      border-style: solid;
    }
  }
  &__center-circle {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    border-radius: 50%;
  }
}