.pie-chart-with-legend {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  padding: 20px 0;

  &__graph-container {
    position: relative;
    margin-bottom: 20px;
  }

  &__wedge {
    transition: $transition;
    &--larger {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    text-align: center;
  }

  &__legend {
    min-width: 275px;
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      font-weight: 500;
      justify-content: space-between;
      padding-bottom: 8px;
      border-bottom: 1px solid $color-grey-light;
    }
    &-table {
      display: flex;
      flex-direction: column;
    }

    &-item {
      padding: 8px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      &:first-child {
        padding-top: 16px;
      }
    }
    &-label-container {
      display: flex;
      flex-direction: row;
    }
    &-color {
      height: 15px;
      width: 20px;
      margin-right: 10px;
    }
    &-label {
      &:first-letter {
        text-transform: uppercase;
      }
    }
    &-value {
      text-align: right;
    }
    &-description {
      margin-top: 10px;
    }
    &-popup-link {
      margin-top: 10px;
      color: $color-blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
