.itemPostcode {
  .controlContainer {
    flex-grow: 12;
    position: relative;
  }
  .inputContainer {
    .close-button {
      position: absolute;
      top: -6px;
      right: -14px;
      padding: 10px 16px;
      cursor: pointer;
    }
  }

  .responseContainer {
    background-color: $color-grey-lighter;
    border-color: $color-grey-light;
    border-style: solid;
    border-width: 0 1px 1px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 200px;
    z-index: 5;

    li {
      padding: 2px 0;
      margin-left: -20px;
      margin-bottom: 5px;
      width: 165px;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        background-color: $color-grey-light-alt;
      }
    }
  }
}

.address-wrapper {
  .item {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .itemLabel {
    width: 100%;
    font-size: 16px;
    margin: 17px 0 8px;
    display: block;
  }
  .controlContainer {
    width: 83px;
    margin-right: 15px;
  }
  .inputContainer {
    input {
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      border: 1px solid $color-grey-light;
      margin-bottom: 15px;
      height: 30px;
      padding-left: 5px;
    }
  }

  .buttonContainer {
    cursor: pointer;
    padding: 4px 10px;
    user-select: none;
    border-width: 0;
    border-style: solid;
    border-radius: $border-radius;
    background-color: $color-blue-light;
    color: white;

    .buttonLabel {
      font-size: 14px;
    }
    &:hover {
      background-color: $color-blue-lighter;
    }
  }
}
