.progress-bar {
  border-width: 1px;
  border-style: solid;
  height: 12px;
  border-radius: 6px;
  width: 100%;
  overflow: hidden;

  &__inner {
    transition: $transition-slow;
    height: 100%;
    width: 0;
  }
}