.question {
  text-align: center;
  margin: 0 auto;
  width: max-content;
  opacity: 0;
  transition: $transition;

  &--forward {
    transform: translateX(3%);
  }
  &--backward {
    transform: translateX(-3%);
  }

  &--inactive {
    display: none;
  }

  &--active {
    opacity: 1;
    transform: translateX(0%);
  }

  &--narrow {
    width: 485px;
  }

  &--has-additional {
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: 10px;
    color: $color-grey-dark;
  }
  &__header-image {
    max-height: 60px;
  }
  &__inner {
    padding: 25px;
    background: $color-grey-lighter;
    text-align: left;
  }

  &__inner-label {
    margin-bottom: 10px;
    padding-left: 20px;
  }

  &__section {
    margin-bottom: 30px;

    &:last-child {
      margin: 0;
    }
  }

  &__number {
    color: $color-blue-light;
  }
  &__counter-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__counter {
    align-self: center;
    margin: 10px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__counter-cube {
    background: $color-grey-light;
    width: 15px;
    height: 12px;
    border-radius: $border-radius;

    &--active {
      background: $color-blue-light;
    }
  }

  &__label {
    margin-top: 35px;
    font-size: 20px;
    max-width: 592px;
    margin-left: auto;
    margin-right: auto;
  }

  &__tooltip {
    margin-left: 10px;
    font-size: 18px;
    color: $color-blue;
  }

  &__answer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &--has-images {
      flex-direction: row;
    }
  }

  &__answer-inner-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__answer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--has-images {
      flex-direction: row;
    }

    &--force-row {
      flex-direction: row;
    }
  }

  &__additional {
    opacity: 0;
    padding: 0;
    transition: $transition-slow;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: -1;
    position: relative;
    max-height: 0;

    &--visible {
      padding: 30px 0 20px;
      opacity: 1;
      z-index: 0;
      max-height: 265px;
    }
  }
  &__additional-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    &--hidden {
      z-index: -1;
    }
  }
}
