.questions-component {
  height: 100%;
  padding: 0 20px;

  &__question-container {
    min-height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__btn-popup {
    margin-left: 10px;
  }
}