.reset-password {
  &__container {
    display: flex;
    justify-content: center;

    .show-hide-pass {
      margin-left: 262px;
      margin-top: 48px;
    }

    .password-input__container {
      width: 250px;
    }
  }

  &__reset-form {
    display: flex;
    flex-direction: column;

    .page-heading {
      width: 295px;
    }
  }

  &__save {
    margin-top: 12px;
  }

  &__signin {
    width: 200px;
    margin-top: 15px;
  }

  &__sent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
