.smiley-slider {
  margin: 20px auto 0 auto;
  padding: 0 20px;
  max-width: 100%;

  &__handle {
    position: absolute;
    margin-left: -24px;
    margin-top: -18px;
    width: 40px;
    height: 40px;
    background: $color-white;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 50%;
    border: 2px solid #96dbfa;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
  }

  &__handle-icon {
    position: absolute;
    left: -1px;
    top: -5px;
    font-size: 45px;
  }

  .rc-slider{
    &-rail{
      height: 10px;
      background-color: $color-grey-light-alt;
    }
    &-track {
      display: none;
    }
  }
}
