.table-container {
  display: flex;
  flex: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
  &__row {

    &:nth-child(2n+2) {
      background: $color-grey-lighter;
    }

    &--header {
      color: $color-white;
      background: $color-blue;
    }

    &--footer {
      font-weight: 500;
    }

  }
  &__cell {
    padding: 10px 10px;
    min-height: 38px;
    text-align: left;

    &--right {
      text-align: right;
    }

    &:first-child {
      padding-left: 25px;
    }
    &:last-child {
      padding-right: 25px;
    }
  }
}
