.type-slider-desktop, .slider-with-input {
  display: flex;

  &__input {
    width: 100px;
    text-align: center;
    height: 38px;
    margin-top: 5px;
  }

  &__input-label{
    min-width: 80px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  &__input-wrapper {
    position: relative;
    height: 44px;
  }

  .type-picker {
    flex-direction: column;
  }

  .type-description {
    margin: 0;
  }

  .type-slider {
    margin-top: 15px;
    width: 100%;
    &__slider-container {
      padding: 0 30px;
    }

    &__labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 15px;
    }
  }

  .rc-slider-rail {
    height: 10px;
    background-color: $color-grey-light-alt;
  }

  .rc-slider {
    &-track {
      background: none;
    }

    &-handle {
      margin-top: -14px;
      margin-left: -14px;
      width: 34px;
      height: 34px;
      border: 1px solid $color-grey;
      transition: $transition-fast;
      display: flex;
      align-items: center;
      justify-content: center;

      &:active {
        border-color: $color-blue;
        box-shadow: 0 0 5px $color-blue;
      }

      &:after {
        border-radius: 50%;
        content: '';
        height: 28px;
        width: 28px;
        display: block;
        background: $color-blue;
      }
    }

    &-dot {
      &, &-active {
        width: 20px;
        height: 20px;
        bottom: -8px;
        border: 1px solid $color-grey;
        margin-left: -10px;
      }
    }
  }
  &_error-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right:0;
    .error-message {
      margin-top:5px;
    }
  }
}