.type-picker {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 30px 0;

  &__type-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
    }
  }
  &__filler {
    height: 0;
  }

  &__connector {
    position: absolute;
    width: 10px;
    background: lightgrey;
    height: calc(100% - 4px);
    margin: 2px 0 0 13px;
  }
}

.line-item {
  display: flex;
  flex-direction: row;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 1px solid $color-grey;
    background: white;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }
  }
  &__circle-disabled {
    background-color: $color-grey-light;
  }
  &__inner-circle {
    height: 0;
    width: 0;
    background: white;
    z-index: 1;
    border-radius: 50%;
    transition: $transition;

    &--selected {
      height: 28px;
      width: 28px;
      background: $color-blue;
    }

    &--hovered {
      height: 20px;
      width: 20px;
      background: lighten($color-blue, 45);
    }
  }
  &__label {
    display: flex;
    align-items: center;
    margin-left: 15px;

    &--selected {
      color: $color-blue;
      font-weight: 500;
    }
  }
}

.type-description {
  border: 1px solid $color-blue;
  padding: 20px;
  margin: 0 0 0 30px;
  height: calc(100% - 40px);
  border-radius: $border-radius;
  position: relative;
  min-height: 230px;
  max-width: 500px;

  &__description-intro {
    font-size: 24px;
    text-align: center;
  }
  &__header {
    color: $color-blue;
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
  }
  &__arrow {
    position: absolute;
    background: white;
    height: 30px;
    width: 30px;
    border-top: 1px solid $color-blue;
    border-left: 1px solid $color-blue;
    left: -16px;
    top: 6px;
    transform: rotate(-45deg);
  }

  &__read-more {
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
  }
}
