//Breakpoints
$ltablet: 1024px;
$tablet: 740px;
$stablet: 640px;
$phablet: 480px;

// Transitions
$transition: all 0.2s ease;
$transition-fast: all 0.1s ease;
$transition-slow: all 0.5s ease;

// Colors
$color-white: #ffffff;

$color-grey-lighter: #f6f6f6;
$color-grey-light-alt: #d6d6d6;
$color-grey-light: #e1e1e1;
$color-grey: #a4a4a4;
$color-grey-dark: #4e585e;

$color-blue-lighter: #0099cc;
$color-blue-light: #0f7ead;
$color-blue: #367da9;
$color-blue-dark: #194b71;

$color-blue-theme: #66b9f1;
$color-purple-theme: #8a71c5;
$color-green-theme: #93c48c;
$color-yellow-theme: #f7cf5e;
$color-orange-theme: #ee877c;
$color-pink-theme: #ec7296;
$color-grey-theme: #fbfbfc;

$color-contact-email: #d9722b;
$color-contact-phone: #facb0e;

$color-green: #008e2d;
$color-mint: #4db39a;

$color-red: #aa1e1e;
$color-red-light: #c21b1b;
$color-red-validation: #eb5a46;

$primary: $color-red;
$primary-light: $color-red-light;

$secondary: $color-mint;

$shadow-grey: rgba(0,0,0,0.2);

// Dimensions
$border-radius: 2px;
$box-shadow: 0 2px 6px 0 $shadow-grey;
