.chat-multiple-choice {
  width: 300px;
  margin-left: -15px;
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &__button {
    height: auto;
    margin: 0 0 20px 10px;
    border-color: $color-ww-orange-light;
    color: $color-ww-raisin;
    transition: unset;
    &--selected {
      background-color: $color-ww-orange-light;
      background: $color-ww-orange-gradient;
      color: $white;
    }
  }
  &__button:hover {
    background-color: $color-ww-orange-light;
    background: $color-ww-orange-gradient;
    border-color: $color-ww-orange-light;
    color: $white;
    transform: unset;
  }
}
