.chat-button {
  &__container {
    height: 122px;
    width: 122px;
    justify-content: space-between;
  }
  &__img {
    height: 65px;
    width: 65px;
  }
  &__label {
    font-size: 13px;
    padding-top: 0px;
  }
  &--tertiary {
    background-color: #fff;
    color: $color-ww-raisin;
    border: 2px solid $color-ww-orange-light;
  }
}
