.sidebar {
  width: 100%;
  box-shadow: unset;
  transition: unset;
  &__header {
    width: 100%;
  }
  &-show {
    transform: unset;
    left: 0px;
  }
  &-hide {
    transform: unset;
    left: -105%;
  }
}
