// MONEY WIZARD SPECIFIC ONLY!
@import '../common/base/variables';
@import 'base/variables';
@import 'base/main';
@import 'base/app-wrapper';
@import 'base/login';
@import 'base/register';
@import 'base/checkbox';
@import 'base/usp';
@import 'base/generate';
@import 'base/priorities-container';
@import 'base/priorities';
@import 'base/error-message';
@import 'base/tips';
@import 'base/tip';
@import 'base/question';
@import 'base/opt-in-popup';
@import 'base/header';
@import 'base/dashboard';
@import 'base/dashboard-new';
@import 'base/carousel';
@import 'base/money-score';
@import 'base/money-score-tips';
@import 'base/share';
@import 'base/notification';

@media only screen and (max-width: $ltablet) {
}

@media only screen and (max-width: $tablet) {
  @import 'tablet/login';
  @import 'tablet/usp';
  @import 'tablet/tips';
  @import 'tablet/tip';
}

@media only screen and (max-width: $stablet) {
  @import 'stablet/question';
  @import 'stablet/priorities-container';
  @import 'stablet/button-container';
  @import 'stablet/answer';
  @import 'stablet/dashboard-new';
  @import 'stablet/carousel';
  @import 'stablet/money-score';
  @import 'stablet/money-score-tips';
  @import 'stablet/footer';
  @import 'stablet/tips';
}

@media only screen and (max-width: $phablet) {
  @import 'phablet/question';
  @import 'phablet/opt-in-popup';
  @import 'phablet/dashboard';
  @import 'phablet/header';
  @import 'phablet/register';
  @import 'phablet/login';
  @import 'phablet/tips';
  @import 'phablet/notification';
}
