.advice-summary-page {
  flex-direction: column;

  &__container {
    &--narrow,
    &--wide {
      margin: 0 -10px;
    }
    &--narrow {
      min-height: 460px;
    }
    &--wide {
      min-height: 350px;
    }
  }

  &__investment {
    position: relative;
    margin-top: 10px;
    &-item {
      &:first-child {
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        font-size: 18px;
        width: 100%;
      }
    }
    &-icon {
      z-index: 2;
    }
    &-description {
      background: $color-grey-lighter;
      padding: 10px 10px 10px 60px;
      margin-left: -50px;
      height: 85px;
      z-index: 1;
      border-radius: $border-radius;
    }
  }

  &__risk-level {
    &-description {
      text-align: center;
    }
    &-dial {
      margin-top: 15px;
    }
  }

  &__fees {
    &-container {
      flex-direction: column;

      &--first {
        min-height: 475px;
        margin-bottom: 25px;
      }
    }
    &-content {
      margin: 0;

      &--left {
        margin-bottom: 20px;
      }
    }
  }
  &__documents {
    &-container {
      min-height: 215px;
    }
  }
}

.risk-illustration-graph {
  &__description {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}
