.landing {
  $landingWidth: 700px;
  width: $landingWidth;

  .landing-nav {
    width: $landingWidth;
  }

  .landing-header {
    width: $landingWidth;
  }

  .landing-top-container {
    width: $landingWidth;
    padding: unset;
    .landing-top {
      padding: 10px;
      &__text {
        padding-right: unset;
      }
      &__row {
        display: flex;
        flex-direction: column;
        height: unset;
      }
      &__cell {
        width: 100%;
        height: unset;
      }
      &__cell--with-image {
        display: none;
      }
      &__cell--with-background {
        margin: 10px 0;
      }
    }
  }

  .landing-middle-container {
    width: $landingWidth;
    .landing-middle {
      &__row {
        margin: unset;
        flex-direction: column;
      }

      &__group {
        width: 100%;
        justify-content: space-around;
      }
    }
  }

  .landing-bottom-container {
    width: $landingWidth;
  }

  .landing-start-investing-container {
    width: $landingWidth;
    .landing-start-investing {
    }
  }

  .landing-footer {
    &__logo {
      width: $landingWidth;
    }
    &__section {
      padding: 10px;
      width: $landingWidth;
    }
  }
}
