.login-wrapper {
  .login-wrapper-mobile {
    display: block;
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: row;
    z-index: 10;
    justify-content: center;
    &__owl {
      width: 160px;
      height: 40px;
      img {
        width: 160px;
      }
    }
    &__title {
      img {
        width: 260px;
        margin-top: 72px;
      }
    }
  }

  .login-wrapper-container {
    width: 600px;
    &__magic {
      display: none;
    }
    &__owl {
      display: none;
    }
    .login-container {
      width: 600px;
      height: 530px;
      &__name {
        display: none;
      }
      .login-form {
        margin-top: 55px;
        width: 290px;
      }
    }
  }
}
