.answer {
  width: 100%;

  &--iw-answer {
    &:hover {
      border-color: unset;
      transform: unset;
      border: 2px solid white;
      box-shadow: 0 0px 6px rgba(50, 50, 93, 0.7);
    }
  }
}
