.landing {
  $landingWidth: 100%;
  width: $landingWidth;

  .landing-nav {
    width: $landingWidth;
  }

  .landing-header {
    width: $landingWidth;
  }

  .landing-top-container {
    width: $landingWidth;
    .landing-top {
      &__cell--with-background {
        height: 375px;
      }
    }
  }

  .landing-middle-container {
    width: $landingWidth;
  }

  .landing-middle {
    margin-top: 70px;
    &__row {
      margin: 10px 20px 10px 10px !important; //not sure why but needed !important would not override
    }
  }

  .landing-bottom-container {
    width: $landingWidth;
  }

  .landing-start-investing-container {
    width: $landingWidth;
  }

  .landing-footer {
    &__logo {
      width: $landingWidth;
    }
    &__section {
      width: $landingWidth;
    }
  }
}
