.login-wrapper {
  .login-wrapper-container {
    &__magic {
      margin-left: 220px;
    }
    .login-container {
      width: 530px;
      height: 530px;
      &__name {
        margin-left: 115px;
      }
      .login-form {
        width: 290px;
      }
    }
  }
}
