.pie-chart-with-legend {
  flex-direction: column;

  &__graph-container {
    width: 230px;
    align-self: center;
  }
  &__legend {
    min-width: 0;
    max-width: 100%;
    width: 300px;
    align-self: center;
  }
}
