.type-picker {
  flex-direction: column;
}

.type-description {
  margin: 0;
  min-height: 150px;

  &__description-intro{
    font-size: 20px;
  }
  &__header{
    font-size: 24px;
  }
}

.type-slider {
  margin-bottom: 15px;

  &__slider-container {
    padding: 0 30px;
  }

  &__labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
  }
}

.rc-slider {
  &-track {
    background: none;
  }

  &-handle {
    margin-top: -14px;
    margin-left: -14px;
    width: 34px;
    height: 34px;
    border: 1px solid $color-grey;
    transition: $transition-fast;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      border-color: $color-blue;
      box-shadow: 0 0 5px $color-blue;
    }

    &:after {
      border-radius: 50%;
      content: '';
      height: 28px;
      width: 28px;
      display: block;
      background: $color-blue;
    }
  }

  &-dot {
    &, &-active {
      width: 20px;
      height: 20px;
      bottom: -8px;
      border: 1px solid $color-grey;
      margin-left: -10px;
    }
  }
}