.about-wrapper {
    width: 250px;
}
.form-wrapper {
    display: block;
    width: 200px;
    margin-left: 25px;
}
.address-wrapper {
    width:250px;
    .buttonContainer {
        margin-left:10px;
    }
    &__manual-title-container {
        clear:both;
        margin-top:10px;
    }
}