.confirm-objective {
  &__block-container {
    flex-direction: column;
  }

  &__length {
    text-align: center;
  }

  &__block-set {
    &--1 {
      flex-direction: row;
    }

    &--2 {
      min-width: 100%;
    }
  }

  &__block-content {
    width: 100%;
    box-sizing: padding-box;
  }

  &__instructions {
    width: 100%;
    padding: 5px;
  }

  &__puzzle-top-left {
    height: 25px;
    margin: -10px 5px 0 7%;
  }

  &__puzzle-top-right {
    height: 34px;
    margin: 0 5px 0 17px;
  }

  &__puzzle-bottom-left {
    height: 34px;
    margin: -5px 5px 0 6%;
  }

  &__puzzle-bottom-right {
    height: 25px;
    margin: 0 3px 0 9px;
  }
}
