.hid,
.hid-borrowing-above {
  &-container {
    width: 320px;
    margin-top: 0px;
  }

  &__heading {
    &-container {
      width: 320px;
      margin-top: 0px;
    }
  }

  &__questions {
    margin-top: 10px;
    &-question-label-tall {
      min-height: 35px;
    }

    &-row-container {
      flex-direction: column;
    }
    &-question-container {
      width: auto;
      margin: 0 auto;
    }
    &-row-container {
      &--top-spacing {
        margin-top: 5px;
      }
    }
  }
  &__button-container {
    margin-top: 5px;
    width: 300px;
  }
}
