.initial-checks {
  &__instructions {
    &-container {
      width: 100%;
    }
    &-list {
      width: 100%;
      flex-direction: column;
    }
  }

  &__disclaimer {
    &-image {
      display: none;
    }
    &-container {
      width: 100%;
      padding: 0;
    }
    &-description {
      width: 100%;
    }
    &-paragraph {
      width: 100%;
    }
  }

}