.isa-capture {
  &__wrapper {
    .button-container {
      width: unset;
    }
    .answer-group {
      margin: unset;
    }
    .error-message {
      &--lock-to-page-navigation-component {
        margin: -10px -19px 5px -10px;

        .error-message__title {
          margin: -2px 10px 0 0;
        }
      }
    }
  }

  &__checkbox-title {
    line-height: 22px;
    width: unset;
  }

  &__checkbox-container {
    padding-left: 0px;
    width: 100%;
  }

  &__checkbox {
    width: 53%;
    margin-bottom: 15px;
  }
}
