.isa-amount__wrapper {
  .error-message {

    &--isa-amount-max {
      .error-message__title {
        margin: -1px 0 0 11px;
      }
    }

    &--isa-amount-min {
      .error-message__title {
        margin: -2px 0 0 -5px;
      }
    }
  }
  .popup__button-bar {
    .btn {
        &--primary {
        padding: 10px 18px;
      }
    }
  }
}
