.landing {
  $landingWidth: 600px;
  width: $landingWidth;

  .landing-nav {
    width: $landingWidth;
  }

  .landing-header {
    width: $landingWidth;
  }

  .landing-top-container {
    width: $landingWidth;
  }

  .landing-middle-container {
    width: $landingWidth;
    .landing-middle {
      margin-top: inherit;
    }
  }

  .landing-bottom-container {
    width: $landingWidth;
  }

  .landing-start-investing-container {
    width: $landingWidth;
  }

  .landing-footer {
    &__logo {
      width: $landingWidth;
    }
    &__section {
      width: $landingWidth;
    }
  }
}
