.login-wrapper {
  .login-wrapper-mobile {
    width:100%;
  }

  .login-wrapper-container {
    width:90%;
    height:480px;
    .login-container {
      .login-form {
        margin-top: 10px;
        width:270px;
        .input-wrapper  {
          &__input {
            width:270px;
            height: 40px;
            border: 1px $color-grey solid;
          }
        }
        .btn {
          width:270px;
        }

      }

    }
  }
}
