.previous-address {
  &__item {
    width: 100%;
  }
  &__form-wrapper {
    width: 300px;
    height: 90vh;
    overflow-y: scroll;
    flex-direction: row;
  }
  &__overlay {
    overflow: auto;
  }
  &__btn {
    margin-bottom: 20px;
  }
  &__title {
    margin-top: 20px;
  }
  &__input {
    width: 270px;
  }
  &__close-btn {
    margin-top: 5px;
  }
}

.current-address {
  &__item {
    width: 100%;
  }
  &__form-wrapper {
    width: 300px;
  }
  &__overlay {
    overflow: auto;
  }
  &__title {
    text-align: left;
  }
}
