.carousel {
  width: 100%;
  margin: 40px 0 0 0;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .slider-control-bottomcenter {
    display: none;
  }

  &__btn {
    z-index: 1000;
    font-size: 50px;
    color: $color-blue;
    align-self: center;
    text-align: center;
    margin: 20px 5px;
    &--with-link {
      cursor: pointer;
    }
    &--left {
      margin-left: -25px;
    }
    &--right {
      margin-right: -25px;
    }
    &--disabled {
      color: $color-grey-light-alt;
      cursor: not-allowed;
    }
  }
  &__header {
    margin-bottom: 20px;
    font-size: 20px;
    color: $color-blue;
    text-align: center;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    max-width: 640px;
    width: 90%;
  }
  &__item {
    height: 120px;
    width: 95%;
    max-width: 220px;
    border-radius: 5px;
    border: 1px $color-grey-light-alt solid;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: $transition;
    margin: 0px 6px;
    &:hover {
      border: 2px $color-blue-light solid;
    }
  }
  &__title {
    margin: 5px 10px;
    font-size: 14px;
    height: 25px;
    color: $color-blue;
  }
  &__row {
    display: flex;
    flex-direction: row;
    height: 65px;
    margin-top: -10px;
  }
  &__text {
    margin: 10px;
    font-size: 13px;
    color: $color-grey;
    &--side {
      margin-top: 22px;
    }
    &--smaller-top-margin {
      margin-top: 5px;
    }
  }
  &__image {
    min-width: 55px;
    max-width: 55px;
    min-height: 45px;
    max-height: 59px;
    margin: 20px 5px;
    &--src {
      width: 100%;
      height: 100%;
    }
    &--lower-max-height {
      max-height: 50px;
    }
    &--logo {
      width: 130px;
      max-width: 130px;
      max-height: 66px;
    }
  }
  &__label {
    font-size: 17px;
  }
  &__button {
    margin-top: -10px;
    width: 150px;
    height: 40px;
    line-height: 13px;
    float: right;
    &--pat {
      margin-left: 50px;
    }
    &--retake {
      margin-left: 40px;
      margin-top: 40px;
    }
  }
  &__icon {
    font-size: 50px;
    color: $color-grey-light-alt;
    align-self: center;
    text-align: center;
    margin: 20px 5px;
    padding-top: 20px;
    &--with-link {
      cursor: pointer;
      color: $color-grey-light-alt;
    }
  }
}

.slider {
  &-control-bottomcenter {
    top: 120px;
  }
  &-frame {
    // On this dark day in history, we had to use this !important to override some third party css.
    // A moment of silence, please.
    overflow: visible !important;

    &:before {
      content: '';
      height: 125%;
      width: 1000px;
      position: absolute;
      left: -1000px;
      top: -12.5%;
      background: linear-gradient(to right, white 92%, rgba(255, 255, 255, 0));
      z-index: 99;
    }
    &:after {
      content: '';
      height: 125%;
      width: 1000px;
      position: absolute;
      right: -1000px;
      top: -12.5%;
      background: linear-gradient(to left, white 92%, rgba(255, 255, 255, 0));
      z-index: 99;
    }
  }
}
