.checkbox {
  position: relative;

  &__label {
    user-select: none;
    color: $white;
    font-size: 14px;
    padding-left: 20px;

    &:hover {
      cursor: pointer;
    }
  }
  &__label-url {
    color: $white;
  }

  &__input {
    margin: 0;
  }

  &__border {
    border: 3px solid rgba(0,0,0,0);
    height: 18px;
    width: 18px;
    display: inline-flex;
    margin-top: 2px;
    position: absolute;


    &--show{
      border: 3px solid $color1;
    }
  }
}