.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__section {
    width: 370px;
    margin: 0 -5px;
    min-height: 450px;
  }
}

.dashboard-item-wrapper-small {
  &__item {
    border: 1px $color-grey-light-alt solid;
    height: 120px;
    width: 350px;
    &:nth-child(odd) {
      margin-right: 10px;
    }
    &:nth-child(even) {
      margin-left: 0px;
    }
  }
}

.dashboard-item-wrapper {
  &__small {
    display: flex;
    flex-direction: row;
    margin: 0 10px 10px;
  }
  &__medium {
    border: 1px $color-grey-light-alt solid;
    height: 120px;
    width: 350px;
    margin: 10px;
    &--no-top-margin {
      margin-top: 0px;
    }
    &--extra-height {
      height: 130px;
    }
  }
  &__large {
    border: 1px $color-grey-light-alt solid;
    height: 240px;
    width: 350px;
    margin: 10px;
    &--no-top-margin {
      margin-top: 0px;
    }
    &--extra-height {
      height: 250px;
    }
  }
}

.dashboard-section-item {
  &__title {
    margin: 5px 10px;
    font-size: 17px;
    color: $color-grey-dark;
    &--small {
      font-size: 14px;
    }
  }
  &__text {
    margin: 10px;
    font-size: 16px;
    color: $color-grey;
    &--side {
      margin-top: 22px;
    }
    &--smaller-top-margin {
      margin-top: 5px;
    }
  }
  &__image {
    min-width: 55px;
    max-width: 55px;
    max-height: 59px;
    margin: 15px 10px;
    &--extra-margin {
      margin-left: 15px;
    }
    &--src {
      width: 100%;
      height: 100%;
    }
    &--lower-max-height {
      max-height: 50px;
    }
    &--logo {
      width: 130px;
      max-width: 130px;
      max-height: 66px;
    }
  }
  &__label {
    font-size: 17px;
  }
  &__button {
    margin-top: -10px;
    width: 150px;
    height: 40px;
    line-height: 13px;
    float: right;
    &--pat {
      margin-left: 50px;
    }
    &--retake {
      margin-left: 40px;
      margin-top: 40px;
    }
  }
  &__icon {
    font-size: 50px;
    color: $color-grey-light-alt;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    &--with-link {
      cursor: pointer;
      color: $color-grey-light-alt;
    }
  }

  &__suggestion-image {
    height: 70px;
    justify-content: center;
    display: flex;
    &-src {
      height: 100%;
    }
    &--medium {
      margin-top: 15px;
      margin-left: 5px;
    }
  }
  &__suggestion-number {
    margin-top: 5px;
    color: $color-blue;
    font-size: 20px;
    &--medium {
      font-size: 17px;
      margin-left: 10px;
    }
  }
  &__suggestion-title {
    margin-top: 0px;
    width: 100%;
    text-align: center;
    &--medium {
      font-size: 15px;
      margin-top: 5px;
      text-align: left;
    }
  }
  &__suggestion-top-tip {
    color: $color8;
    white-space: pre-line;
    margin-bottom: 0px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 15px;
    &--medium {
      font-size: 14px;
    }
  }
  &__suggestion-text {
    color: $color8;
    white-space: pre-line;
    margin-bottom: 0px;
    padding-bottom: 5px;
    min-height: 40px;
    margin-top: 0px;
    padding: 0 10px;
    text-align: justify;
    font-size: 14px;
    margin-top: -5px;
    line-height: 15px;
  }
  &__suggestion-tool-title {
    color: $color-blue;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 10px;
  }
  &__suggestion-tool-link {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 14px;
  }
  &__suggestion-links-container {
    margin: 5px 0 0 0;
    list-style: none;
    padding: 0;
  }
  &__suggestion-link-item {
    margin: 10px 0;
    &,
    & * {
      color: $color4;
    }
  }
}

.dashboard-section-chat-container {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  &__title {
    margin-left: 10px;
    font-size: 15px;
    color: $color-grey-dark;
  }
  &__input-container {
    margin-left: 5px;
    margin-top: -5px;
    &--input {
      width: 327px;
      height: 40px;
      padding-left: 5px;
    }
  }
  &__button {
    margin-top: 8px;
    width: 170px;
    height: 40px;
    font-size: 17px;
    line-height: 13px;
    background-color: $color-blue;
    border-color: $color-blue;
    border-radius: $border-radius;
    cursor: pointer;
    &:hover {
      background-color: $color-blue-lighter;
      border-color: $color-blue-lighter;
    }
  }
}

.dashboard-section-row {
  display: flex;
  flex-direction: row;
  &--stretch {
    width: 100%;
  }
}

.money-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 20px);
  -webkit-animation: fadein 3.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3.5s; /* Firefox < 16 */
  -ms-animation: fadein 3.5s; /* Internet Explorer */
  -o-animation: fadein 3.5s; /* Opera < 12.1 */
  animation: fadein 3.5s;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 15px;

  &__user-number {
    font-size: 60px;
    line-height: 50px;
    margin-top: 30px;
  }
  &__total-number {
    font-size: 15px;
  }
}

.dashboard-section-share {
  justify-content: center;
  margin-top: 25px;
  &__item {
    width: 50px;
    height: 50px;
    margin: 0 3px;
    cursor: pointer;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
