.error-message {
  color: $color2;
  border: 1px solid $color2;
  margin: 12px 7.5%;
  background: lighten($color2, 50);
  font-size: 14px;
  overflow: hidden;
  transition: $transition;
  height: 0;
  padding: 0 10px;
  opacity: 0;

  &--active {
    height: auto;
    padding: 5px 10px;
    opacity: 1;
  }

  &--no-padding {
    padding: 0;
  }

  &--compact {
    border: 0;
    background: none;
    margin: -10px 0 10px 0;
    padding: 0;

    &--active {
      padding: 5px 0;
    }
  }

  &__title {
    &--compact {
      margin: -1px 0 0 6px;
    }
  }

  &__infobox {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 18px;
    margin-right: 10px;
  }

  &__body {
    &--compact {
      display: flex;
    }
  }
}
