.generate {
  margin-bottom: calc(100% / 5);
  text-align: center;
  width: 1024px;
  margin: 10px auto;

  &__logo {
    text-align: center;
    padding: 5px 0 5px 0;
  }
  &__logo-src {
    width: 200px;
  }

  &__textarea {
    width:495px;
    float:left;
    margin: 0px 5px 10px 6px;
    height: 500px;
    resize: none;
    border:1px #444 solid;
    padding: 1px;

    ol li {
      text-align: left;
    }
  }

  &__btn {
    position: relative;
    clear: both;
  }

}
