.header {
  height: 80px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 40px;
    margin-left: 10px;
    &-src {
      height: 100%;
    }
  }
  &__icon {
    margin-right: 6px;
  }
  &__top-message {
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-radius: $border-radius;
    position: absolute;
    right: 0;
    top: 25px;

    &--anonymous{
      background: $color-blue-light;
      color: $color-white;
    }
    &--offline{
      background: $color-red-validation;
      color: $color-white;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
  }
  &__button {
    padding: 5px 15px;
    font-size: 14px;
    margin-right: 10px;

    &--divider {
      padding: 5px 0 5px 10px;
      border-left: 1px solid $color-grey-light;

      &:first-child {
        border: none;
      }
      &:hover{
        background: none;
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-right: 10px;
    }
  }
}
