.login {
  min-height: 100%;
  justify-content: space-between;

  &__logo {
    text-align: center;
    padding: 40px 0 0 0;
  }
  &__logo-src {
    width: 200px;
  }

  &__container {
    transition: $transition;
    width: 100%;
    height: 325px;
    background-color: $white;
    margin: 20px 0 0;
    padding-top: 20px;
  }

  &__policy {
    font-weight: 300;
    color: $white;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0;

    &--strong {
      font-weight: 900;
    }
  }

  &__checkbox {
    text-align: center;
    display: block;
    margin: 0 auto 17px auto;
    width: 265px;
  }

  &__header {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: $color-grey-dark;
  }

  &__subheader {
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
    color: $color-grey-dark;
  }

  &__input-wrapper {
    width: 100%;
  }

  &__email-input-wrapper {
    padding-top: 10px;
  }

  &__input {
    height: 40px;
    width: 85%;
    margin: 12px 7.5%;
    padding: 0 10px;
    font-size: 16px;
    color: $color-grey-dark;
    border: 1px solid $color-grey;

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      color: $color5;
      text-align: center;
    }
  }

  &__form {
    width: 366px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__usp-container {
    max-width: calc(100% - 40px);
    margin: 15px auto 0;
  }
  &__btn {
    margin: 15px auto 15px auto;
    width: 85%;
    height: 55px;
    line-height: 51px;
    padding: 0;
    display: inherit;
    border-radius: 2px;

    &:hover {
      border: 1px solid $primary-light;
    }
  }

  &__secondary-btn {
    border: 1px solid $primary;
    p {
      color: $primary;
    }
    &:hover {
      background-color: $primary;
      p {
        color: $white;
      }
    }
  }

  &__switch {
    color: $color-grey-dark;
    width: 100%;
    text-align: center;
    user-select: none;
  }

  &__switch-text {
    text-decoration: underline;
    &--large {
      font-size: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
