html {
  height: 100%;
  &, & * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

h1 {
  font-size: 20px;
  color: #FFFFFF;
}

#app {
  height: 100%;
}

.wrapper {
  height: 100%;
}