.money-score-tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0 50px 0;

  * {
    cursor: default;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    color: $color-blue;
  }

  &__tips-container {
    display: flex;
    flex-direction: row;
    height: 225px;
    justify-content: center;
    align-items: center;
  }

  &__tip {
    width: 175px;
    height: 175px;
    border: 1px solid $color-grey-light;
    border-radius: 5px;
    z-index: 1;
    background: $color-white;
    padding: 40px 10px 10px 10px;
    transition: $transition-slow;
    position: relative;
    overflow: hidden;

    &--large {
      width: 200px;
      height: 200px;
      margin: 0 -5px;
      z-index: 2;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    &--hover {
      width: 225px;
      height: 225px;
      padding: 40px 15px 15px 15px;
      background: $color-grey-lighter;
    }
  }

  &__tip-number {
    font-size: 24px;
    color: $color-white;
    width: 35px;
    height: 35px;
    background: $color-blue;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 5px 0;
  }

  &__tip-title {
    text-align: center;
    color: $color-blue-dark;
    width: 153px;
    margin: 0 auto 5px auto;
    transition: $transition-slow;

    &--large {
      width: 178px;
    }
    &--hover {
      margin-bottom: 15px;
    }
  }

  &__tip-content {
    height: 100px;
    overflow: hidden;
    position: relative;
    transition: $transition-slow;

    &--hover {
      height: 150px;
    }
  }

  &__tip-image {
    height: 75px;
    width: 195px;
    text-align: center;
    position: absolute;
    top: 0;
    left: -15px;
    transition: $transition-slow;
    opacity: 1;
    filter: blur(0);

    &--hidden {
      top: -100px;
      left: 0;
      opacity: 0;
      filter: blur(2px);
    }

    img {
      height: 100%;
    }
  }
  &__tip-description {
    position: absolute;
    top: 100px;
    transition: $transition-slow;
    width: 195px;
    opacity: 0;
    filter: blur(2px);

    &--visible {
      top: 0;
      opacity: 1;
      filter: blur(0);
    }
  }
}