.money-score-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__chart-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }
  &__chart {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  &__content {
    position: absolute;
    left: 0px;
    height: 330px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
  }

  &__score {
    font-size: 60px;
  }

  &__score-text {
    color: $color-grey;
    font-size: 12px;
  }

  &__score-level {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__retake {
    margin-top: 20px;
  }

  &__description {
    margin-left: 10px;
    max-width: 300px;
  }
}
