.opt-in-popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($color-blue, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: $transition;

  &--visible {
    opacity: 1;
    z-index: 9999;
  }

  &--transparent {
    opacity: 0;
  }

  &__handler {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.opt-in-popup {
  opacity: 0;
  transition: $transition;
  width: 515px;
  padding: 45px 30px;
  background: $white;
  position: relative;
  max-width: calc(100% - 40px);
  border-radius: $border-radius;
  transform: translateY(-75px);

  .checkbox {
    margin-bottom: 10px;
  }

  .checkbox__label {
    color: $color8;
    font-size: 16px;
  }

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 110px;

    &-src {
      max-width: 90px;
    }

    &--reverse {
      text-align: right;
    }
  }

  &__text {
    flex: 1;
  }

  &__header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: $transition;
    border-radius: $border-radius;

    &:hover {
      background: $color-grey-lighter;
      cursor: pointer;
    }
  }
  &__close-icon {
    font-size: 22px;
  }

  &__email-input {
    border: 1px solid $color-grey;
    padding: 5px 10px;
    border-radius: $border-radius;

    &--error {
      border-color: $color-red-light;
    }
  }

  &__email-wrapper {
    width: 100%;
  }

  &__button-bar {
    display: flex;
    flex-direction: column;
  }

  &__action {
    background: $color-blue-light;
    border-color: $color-blue-light;

    &:hover {
      background: $color-blue-lighter;
      border-color: $color-blue-lighter;
    }
  }
  &__cancel {
    text-decoration: underline;
    &:hover {
      background: none;
    }
  }
  &__tandc-link-container {
    text-align: left;
    margin-bottom: 10px;
    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__inputs-container {
    padding-top: 10px;
  }
  &__top-container {
    display: flex;
    flex-direction: row;
  }
}
