.priorities {
  &,
  & * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }

  &__list {
    padding: 0;
    max-width: 100%;
  }
  &__item {
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 15px auto;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: $border-radius;

    &:hover {
      cursor: move;
    }

    &:nth-child(2) {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      animation-delay: 1s;
    }

    @keyframes shake {
      10%,
      90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-15px, 0, 0);
      }

      40%,
      60% {
        transform: translate3d(15px, 0, 0);
      }
    }

    &--dragged {
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);

      // Some cheating here... I can't add a class to the __item-label for dragging :/
      .priorities__item-label {
        border-color: $color4;
        color: $color4;
      }
    }
  }
  &__item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 22px;
    background: $color4;
    color: $white;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    &--faded {
      background: $color9;
    }
  }
  &__item-label {
    background: $white;
    display: flex;
    width: calc(100% - 50px);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color8;
    border: 1px solid $color5;
    border-left: none;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__popup {
    &-item {
      margin-bottom: 25px;
    }
    &-item-header {
      font-weight: 900;
    }
    &-item-description {
    }
  }
}
