.priorities-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    height: calc(100% - 80px);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &__intro {
    text-align: center;
    margin-bottom: 10px;
    max-width: 450px;
    color: $color-blue-dark;
    font-size: 20px;
    min-height: 45px;

    &--emphasized {
      font-weight: 900;
    }
  }

  &__drag-container {
    margin-top: 10px;
    width: 400px;
    max-width: calc(100% - 20px);
  }
  &__tooltip {
    text-align: right;
    font-size: 14px;
    color: $color4;
  }
  &__tooltip-link {
    color: $color4;
    text-decoration: underline;
    font-size: 14px;
    border: none;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }
  &__buttonbar {
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__btn-popup-close {
    align-self: flex-end;
  }
}