.register {
  min-height: 100%;
  justify-content: space-between;

  &__logo {
    text-align: center;
  }
  &__logo-src {
    width: 200px;
  }

  &__container {
    transition: $transition;
    width: 100%;
    height: 325px;
  }

  &__policy {
    font-weight: 300;
    color: $color-grey;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding-top: 10px;

    &--strong {
      font-weight: 900;
    }
  }

  &__checkbox {
    text-align: center;
    display: block;
    margin: 0 auto 17px auto;
    label {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .checkbox__label,
  .checkbox__label-url {
    color: $color-grey;
    padding-left: 0;
  }

  &__header {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: $color-blue-dark;

    &--strong {
      font-weight: 900;
      max-width: 650px;
      margin: 0 auto;
    }
  }

  &__sub-header {
    font-size: 16px;
    padding-top: 10px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: $color-blue-dark;
  }

  &__subheader {
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
    color: $color-blue-dark;
  }

  &__input-wrapper {
    width: 100%;
    padding-top: 10px;
  }

  &__input {
    height: 40px;
    width: 85%;
    margin: 12px 7.5%;
    padding: 0 10px;
    font-size: 16px;
    color: $color-blue-dark;
    border: 1px solid $color-grey;

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      color: $color-grey;
      text-align: center;
    }
  }

  &__form {
    width: 366px;
    height: 100%;
    margin: 0 auto;
  }

  &__btn {
    margin: 15px auto 15px auto;
    width: 85%;
    height: 55px;
    line-height: 51px;
    padding: 0;
    border: 2px solid $white;
    display: inherit;

    &:hover {
      border: 2px solid $white;
    }
  }
}
