.share {
  display: flex;
  flex-direction: row;
  padding-right: 10px;

  &__item {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    transition: $transition-fast;

    &:hover {
      cursor: pointer;
      filter: brightness(1.25);
    }
  }
}
