.tip {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 25px;
  max-width: 370px;

  &__image {
    height: 100px;
    justify-content: center;
    display: flex;

    &-src {
      height: 100%;
    }
  }
  &__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    flex-direction: row;
  }
  &__index {
    font-size: 26px;
    color: $color4;
    margin-right: 10px;
    margin-top: -3px;
  }
  &__header-label {
    font-weight: 900;
    font-size: 18px;
    color: $color8;
    margin-bottom: 10px;
  }
  &__top-tip {
    margin-bottom: 20px;

    &-label {
      font-weight: bold;
    }
  }
  &__description {
    color: $color8;
    white-space: pre-line;
    margin-bottom: 20px;

    // These tags exist to enable using HTML, but to prevent adding classes in the content
    a {
      color: $color4;
    }
    p {
      margin-top: 0;
      &:last-child {
        margin: 0;
      }
    }
    padding-bottom: 5px;
    min-height: 100px;
  }
  &__list {
    padding-left: 18px;
  }
  &__links {

  }
  &__links-header {
    color: $color4;
    font-size: 18px;
  }
  &__links-container {
    margin: 5px 0 0 0;
    list-style: none;
    padding: 0;
  }
  &__link-item {
    margin: 10px 0;
    &, & * {
      color: $color4;
    }
  }
}