.tips {
  &__content-container {
    max-width: calc(100% - 60px);
    margin: 20px auto 0 auto;
    padding: 0 30px;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__header {
    font-size: 20px;
    color: $color-blue-dark;
    text-align: center;

    &--strong {
      font-weight: 900;
      max-width: 650px;
      margin: 0 auto;
    }
  }
  &__subheader {
    font-size: 18px;
    padding-top: 15px;
    color: $color-blue-dark;
    text-align: center;
  }
  &__items-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    max-width: 100%;
  }
  &__button-bar {
    margin: 15px 10px 30px 10px;
  }

  &__pat {
    display: flex;
    flex-direction: row;
    box-shadow: $box-shadow;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;

    &-text {

    }
    &-cta {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 150px;
      margin-left: 50px;
    }
    &-title {
      font-size: 24px;
      font-weight: bold;
    }
    &-subtitle {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  .pat-popup {
    padding-bottom: 12px;
  }

  &__pat-popup {
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }
    &-label {
      flex: 4;
      text-align: right;
      padding-right: 20px;

    }
    &-input, &-dropdown {
      flex: 6;
      * {
        margin: 0;
      }
    }
    &-dropdown {
      height: 30px;
    }
    &-error{
      display: flex;
      justify-content: flex-end;
    }
  }
}
