.usp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  &__item {
    text-align: center;
    flex: 1;
  }
  &__label {
    margin: 5px 0;
    color: #4e585e;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  &__icon {
    font-size: 30px;
    color: $color1;
    align-self: center;
  }

  &__divider {
    height: 20px;
    width: 2px;
    background: $color1;
    margin-top: 38px;
  }
}
