@import 'base/variables';
@import 'base/base';
@import 'base/button';
@import 'base/app-wrapper';
@import 'base/content-wrapper';
@import 'base/explanation';
@import 'base/type-picker';
@import 'base/question';
@import 'base/questions-component';
@import 'base/button-container';
@import 'base/instructions';
@import 'base/answer';
@import 'base/popup';
@import 'base/page-heading';
@import 'base/error-message';
@import 'base/goal-tile-wrapper';
@import 'base/type-slider';
@import 'base/input';
@import 'base/currency-input';
@import 'base/address';
@import 'base/postcodeAnywhere';
@import 'base/dropdown';
@import 'base/smiley-slider';
@import 'base/checkbox';
@import 'base/start-component';
@import 'base/form-wrapper';
@import 'base/ie';
@import 'base/multiple-choice';
@import 'base/answer-group';
@import 'base/contact-details';
@import 'base/page';
@import 'base/pager';
@import 'base/content-block';
@import 'base/pie-chart-with-legend';
@import 'base/table';
@import 'base/list-block';
@import 'base/contact';
@import 'base/contact-phone';
@import 'base/contact-email';
@import 'base/close-button';
@import 'base/password-input';
@import 'base/forgotten-password';
@import 'base/reset-password';
@import 'base/notification';
@import 'base/overview';
@import 'base/progress-circle';
@import 'base/pie-chart';
@import 'base/footer';
@import 'base/hover-tiles';
@import 'base/services-down';
@import "base/cube-counter";
@import "base/progress-bar";
@import "base/more-info";


@media only screen and (max-width: $ltablet) {
}

@media only screen and (max-width: $tablet) {
  @import 'tablet/instructions';
  @import 'tablet/answer';
  @import 'tablet/questions-component';
  @import 'tablet/content-block';
}

@media only screen and (max-width: $stablet) {
  @import 'stablet/header';
  @import 'stablet/question';
  @import 'stablet/button-container';
  @import 'stablet/goal-tile-wrapper';
  @import 'stablet/type-slider';
  @import 'stablet/page-heading';
  @import 'stablet/form-wrapper';
  @import 'stablet/answer';
  @import 'stablet/pie-chart-with-legend';
}

@media only screen and (max-width: $phablet) {
  @import 'phablet/type-picker';
  @import 'phablet/question';
  @import 'phablet/table';
  @import 'phablet/pie-chart-with-legend';
  @import 'phablet/notification';
}
