.tips {
  &__items-container {
    flex-direction: column;
    align-items: center;
  }
  &__button-bar {
    padding-top: 20px;
    max-width: 100%;
    width: 390px;
    margin: 0 0 30px 0;
    align-self: center;
  }
}