// INVESTMENT WIZARD SPECIFIC ONLY!
@import '../common/base/variables';
@import 'base/variables';
@import 'base/main';
@import 'base/spinner';
@import 'base/helpers';
@import 'base/wrapper';
@import 'base/list-item';
@import 'base/playback';
@import 'base/answer';
@import 'base/about';
@import 'base/question';
@import 'base/explanation';
@import 'base/address';
@import 'base/right-time';
@import 'base/need-more-time';
@import 'base/confirm-objective';
@import 'base/button';
@import 'base/input';
@import 'base/answer-group';
@import 'base/checkbox';
@import 'base/advice-summary-page';
@import 'base/register-component';
@import 'base/tooltip';
@import 'base/isa-capture';
@import 'base/isa-amount';
@import 'base/invest-in-future';
@import 'base/key-facts';
@import 'base/login';
@import 'base/base';
@import 'base/dashboard';
@import 'base/progress-view';
@import 'base/progress-section';
@import 'base/content-wrapper';
@import 'base/content-block';
@import 'base/header';
@import 'base/mobile-header';
@import 'base/activate';
@import 'base/payment';
@import 'base/payment-success';
@import 'base/investment-goal';
@import 'base/investment-amount';
@import 'base/time-at-address';
@import 'base/previous-address';
@import 'base/hid';
@import 'base/radio';
@import 'base/hover-tiles';
@import 'base/overview';
@import 'base/page-heading';
@import 'base/resilience';
@import 'base/footer';
@import 'base/popup';
@import 'base/panel-button';
@import 'base/landing';
@import 'base/investment-details';
@import 'base/cube-counter';
@import 'base/todo';
@import 'base/ie.scss';

@media only screen and (max-width: $ltablet) {
  @import 'ltablet/answer';
  @import 'ltablet/login';
  @import 'ltablet/landing';
  @import 'ltablet/panel-button';
}

@media only screen and (max-width: $tablet) {
  @import 'tablet/page-heading';
  @import 'tablet/advice-summary-page';
  @import 'tablet/landing';
  @import 'tablet/key-facts';
  @import 'tablet/invest-in-future';
  @import 'tablet/login';
  @import 'tablet/confirm-objective';
}

@media only screen and (max-width: $stablet) {
  @import 'stablet/isa-amount';
  @import 'stablet/isa-capture';
  @import 'stablet/question';
  @import 'stablet/investment-amount';
  @import 'stablet/about';
  @import 'stablet/input';
  @import 'stablet/initial-checks';
  @import 'stablet/confirm-objective';
  @import 'stablet/register-component';
  @import 'stablet/final-checks';
  @import 'stablet/hid';
  @import 'stablet/error-message';
  @import 'stablet/landing';
  @import 'stablet/invest-in-future';
  @import 'stablet/login';
  @import 'stablet/dashboard';
  @import 'stablet/content-wrapper';
  @import 'stablet/progress-view';
  @import 'stablet/header';
  @import 'stablet/activate';
  @import 'stablet/previous-address';
  @import 'stablet/todo';
}

@media only screen and (max-width: $phablet) {
  @import 'phablet/answer';
  @import 'phablet/about';
  @import 'phablet/register-component';
  @import 'phablet/landing';
  @import 'phablet/login';
  @import 'phablet/initial-checks';
  @import 'phablet/investment-goal';
  @import 'phablet/investment-details';
  @import 'phablet/re-captcha';
  @import 'phablet/atr-start';
  @import 'phablet/atr-questions';
  @import 'phablet/playback';
  @import 'phablet/experience';
  @import 'phablet/flexibility';
  @import 'phablet/resilience';
  @import 'phablet/isa-capture';
  @import 'phablet/isa-amount';
  @import 'phablet/confirm-objective';
  @import 'phablet/advice-summary';
  @import 'phablet/investment-amount';
  @import 'phablet/popup';
  @import 'phablet/payment';
  @import 'phablet/payment-success';
  @import 'phablet/progress-section';
  @import 'phablet/panel-button';
  @import 'phablet/button';
  @import 'phablet/need-more-time';
  @import 'phablet/todo';
  @import 'phablet/previous-address';
}
