.dashboard {
  &__section {
    width: 300px;
  }
}

.dashboard-item-wrapper-small {
  &__item {
    width: 170px;
  }
}
.dashboard-item-wrapper {
  &__small {
    width: 288px;
  }
  &__medium {
    width: 290px;
  }
  &__large {
    width: 290px;
  }
}

.dashboard-section-chat-container {
  &__input-container {
    &--input {
      width: 270px;
      height: 40px;
      padding-left: 5px;
    }
  }
}

.dashboard-section-item {
  &__text {
    font-size: 14px;
    &--invest {
      margin-top: 0px;
      margin-left: 5px;
    }
  }
  &__suggestion-top-tip {
    display: none;
  }
  &__suggestion-tool-title {
    margin-left: 0px;
    &--large {
      margin-left: 10px;
    }
  }
  &__suggestion-tool-link {
    margin-left: 0px;
    &--large {
      margin-left: 10px;
    }
  }
  &__suggestion-number {
    &--medium {
      margin-left: 0px;
    }
  }
  &__image {
    &--logo {
      width: 100px;
      max-width: 100px;
      max-height: 66px;
    }
  }
  &__button {
    &--pat {
      margin-left: 50px;
      margin-top: 0px;
    }
    &--retake {
      margin-left: 14px;
      margin-top: 42px;
    }
    &--invest {
      margin-left: -20px;
      margin-top: 10px;
    }
  }
}
