.tips {
  &__content-container {
    padding: 0px;
    padding-bottom: 60px;
  }
  &__button-bar {
    position: fixed;
    bottom: -50px;
    background-color: $white;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 10px;
  }
}
