.chat-date-picker {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
  margin-bottom: 15px;
  float: right;

  &__wrapper {
    border-radius: 6px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: $border-radius;
  }

  &__error {
    align-self: center;
  }

  &__button {
    margin-left: 10px !important;
    width: 100px !important;
  }
}
