.chat-input {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 15px;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;

  &__wrapper {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px solid #ced4da;
    border-radius: $border-radius;
    padding-left: 5px;
  }

  &__input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;
  }

  &__error {
    align-self: center;
  }

  &__button {
    margin-right: -8px;
    margin-top: -2px;
    width: 100px !important;
  }
}
