.chat-button {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;

  &__container {
    height: 200px;
    width: 200px;
    cursor: pointer;
    border: 2px solid $color-grey-light;
    border-radius: $border-radius;
    margin: 10px;
    color: $color-grey-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: $transition;
    -webkit-backface-visibility: hidden;
    background: $color-white;
    overflow: hidden;
    &--selected {
      border-color: $color-blue-light;
      color: $color-blue-light;
    }
  }
  &__container:hover {
    border-color: $color-blue-light;
    color: $color-blue-light;
    transform: scale(1.05);
  }
  &__label {
    text-align: center;
    padding-top: 20px;
  }
  &__img {
    height: 190px;
    width: 190px;
  }
  &--primary {
    background-color: $color-ww-orange-light;
    border-color: $color-ww-orange-light;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 1.15rem;
    width: 250px;
    border-radius: 20px;
    padding: 0.5rem;
    border: 3px solid $color-ww-orange-light;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    float: right;
  }
  &--primary:hover {
    background: $color-ww-orange-light;
    border-color: $color-ww-orange-light;
    transform: unset;
  }
  &--secondary {
    background-color: #fff;
    color: #252525;
    border: 2px solid $color5;
    border-radius: $border-radius;
  }
  &--tertiary {
    background-color: #fff;
    color: $color-ww-sea;
    border: 2px solid $color-ww-sea;
  }
}
