.chat-answer-playback {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .chat-answer-playback-container {
    margin-bottom: 15px;
    border-radius: 30px 0px 30px 30px;
    min-width: 200px;
    max-width: 350px;
    background: $color-ww-mint-light;
    border: 1px solid $color-ww-mint-light;
    display: inline-block;
    position: relative;

    &__content {
      color: #fff;
      padding: 8px;
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }

    &__undo {
      text-decoration: underline;
      padding-right: 15px;
      display: flex;
      align-items: flex-end;
      padding-bottom: 20px;
      color: $color-ww-link;
    }

    &__undo:hover {
      cursor: pointer;
    }
  }
}
