.chat-question {
  margin-bottom: 15px;
  border-radius: 0px 30px 30px 30px;
  min-width: 200px;
  max-width: 500px;
  background: $color-ww-space-grey;
  border: 1px solid $color-ww-space-grey;
  display: inline-block;
  position: relative;
  animation-duration: 0.65s;
  animation-name: fadeIn;
  font-size: 20px;

  &__content {
    color: #ffffff;
    padding: 8px;
    a {
      color: #ffffff;
    }
  }

  @keyframes showHideDot {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__loading-dot-container {
    margin-top: 10px;
  }

  &__loading-dot {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
    top: -1em;
    font-size: 3.5em;
    opacity: 0;
    animation: showHideDot 2.5s ease-in-out infinite;

    &.one {
      animation-delay: 0.2s;
    }
    &.two {
      animation-delay: 0.4s;
    }
    &.three {
      animation-delay: 0.6s;
    }
  }

  &__outer-container {
    display: flex;
  }
  &__avatar-container {
    width: 65px;
    height: 75px;
  }
  &__avatar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
      width: 40px;
      height: 40px;
    }
    &-name {
      margin-top: 0px;
      font-size: 13px;
      font-weight: bold;
    }
  }
}
