.chat-multiple-choice {
  padding: 8px;
  margin-bottom: 15px;
  width: 460px;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  &__button {
    height: auto;
    border-color: $color-grey-light;
    color: $color-grey-dark;
    transition: $transition;
    &--selected {
      border-color: $color-blue-light;
      color: $color-blue-light;
    }
  }

  &__button:hover {
    border-color: $color-blue-light;
    color: $color-blue-light;
    transform: scale(1.05);
  }

  &__button {
    width: 45%;
    margin: 10px;
  }
}
