.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__shape-left {
    width: 300px;
    min-height: 200px;
    position: absolute;
    top: 200px;
    left: 0px;
    margin-left: -140px;
    &-img {
      width: 300px;
    }
  }
  &__shape-right {
    width: 300px;
    min-height: 200px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0px;
    overflow: hidden;
    &-img {
      width: 300px;
      margin-left: 80px;
    }
  }
  &__wrapper {
    width: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 45px;
  }
  &__scroll-div {
    height: 60px;
  }
}
