.error-view {
  width: 250px;
  height: 450px;
  align-items: center;
  display: flex;
  flex-direction: column;

  &__icon {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 180px;
    height: 180px;
    &-img {
      width: 180px;
      height: 180px;
    }
  }
  &__btn {
    margin-top: 25px;
    width: 160px;
    align-self: center;
  }
}
