.header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $color5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  z-index: 12;
  background: $white;

  &__settings {
    padding-left: 10px;
    cursor: pointer;
  }
  &__inbox {
    padding-right: 10px;
  }
  &__title {
    padding-top: 10px;
  }
  &__settings,
  &__inbox {
    padding-top: 10px;
    position: relative;
    &-notification {
      position: absolute;
      top: 4px;
      left: -8px;
      background-color: red;
      color: #fff;
      font-size: 11px;
      border-radius: 6px;
      padding: 2px 5px;
    }
  }
  &__inbox:hover {
    cursor: pointer;
  }
}
