.login {
  width: 420px;
  display: flex;
  margin-top: 30px;
  position: relative;

  &__get-started {
    width: 420px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
  }
  &__get-started-btn {
    width: 160px;
    align-self: center;
  }
  &__form-container {
    margin-top: 50px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
  }
  &__sign-in-btn {
    align-self: flex-end;
  }
  &__footer {
    position: absolute;
    bottom: 0px;
    font-size: 10px;
    width: 400px;
    text-align: justify;
  }
  &__input-wrapper {
    width: 100%;
    &-input {
      height: 35px;
    }
  }
}
