.sidebar {
  position: fixed;
  background-color: white;
  z-index: 1000;
  width: 480px;
  height: 100%;
  box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.2);
  transition: $transition-slow;
  left: 0;
  &-show {
    transform: translate(0, 0);
  }
  &-hide {
    transform: translate(-105%, 0);
  }

  &__countdown-download-container {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    &-link {
      text-decoration: underline;
    }

    &-link:hover {
      cursor: pointer;
    }
  }

  &__header {
    width: 480px;
    height: 40px;
    border-bottom: 1px solid #a4a4a4;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    z-index: 12;
    background: #fff;
    &-back {
      padding-top: 7px;
      cursor: pointer;
    }
    &-title {
      padding-top: 10px;
    }
    &-padding {
      width: 24px;
      height: 24px;
    }
  }

  &__footer {
    position: absolute;
    background-color: $color-ww-space-grey;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 250px;
    &-text {
      font-size: 11px;
      padding-left: 10px;
      color: white;
    }
    &-logo {
      position: relative;
      width: 200px;
      padding: 20px 10px 10px 10px;
      &-text {
        position: absolute;
        top: 0px;
        left: 65px;
        color: $color5;
      }
      &-img {
        width: 200px;
      }
    }
  }

  &__buttons {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-btn {
      color: $color-ww-sea;
      border: 1px solid $color-ww-sea;
      width: 200px;
      &--margin-top {
        margin-top: 10px;
      }
    }
  }

  &__profile {
    width: 100%;
    height: 160px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-image {
      width: 110px;
      height: 110px;
      border-radius: 100%;
      border: 1px solid $color-ww-space-grey;
      overflow: hidden;
      &-img {
        width: 110px;
        height: 110px;
      }
    }
    &-email {
      width: 100%;
      height: 30px;
      margin-top: 15px;
      text-align: center;
      color: $color-ww-space-grey;
    }
  }
}
