.splash {
  width: 720px;
  display: flex;
  position: relative;

  &__heading {
    margin-bottom: 0px;
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-top: 110px;
    width: 290px;
  }
  &__sub-heading {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin-top: 15px;
  }
  &__text {
    font-size: 16px;
  }
  &__get-started {
    width: 300px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  }
  &__get-started-btn {
    width: 160px;
  }
  &__image {
    width: 393px;
    min-height: 434px;
    overflow: hidden;
    position: relative;
    &-img {
      width: 474px;
      min-height: 489px;
      margin-top: -75px;
      margin-right: 50px;
    }
  }
  &__sign-in-icon {
    width: 25px;
    height: 25px;
    &-img {
      width: 25px;
      height: 25px;
    }
  }
  &__sign-in-container {
    position: absolute;
    top: 0px;
    left: 315px;
    display: flex;
    width: 100px;
    height: 30px;
    margin-top: 10px;
  }
  &__sign-in-text {
    cursor: pointer;
    width: 80px;
    margin-top: 4px;
    margin-left: 5px;
    font-size: 14px;
  }
  &__start-container {
    margin-top: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    &-text {
      &--link {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  &__form-container {
    margin-top: 50px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
  }
  &__sign-in-btn {
    align-self: flex-end;
  }

  &__input-wrapper {
    width: 100%;
    &-input {
      height: 35px;
    }
  }
  &__image-mobile {
    display: none;
  }
}
