.todo {
  display: flex;
  flex-direction: row;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  width: 500px;

  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title-section {
      display: flex;
      flex-direction: row;
      width: 470px;
      margin-top: 80px;
      margin-bottom: 20px;
    }
    &__desc-container {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
    }
    &__title {
      margin: 0px;
    }
    &__description {
      margin: 0px;
      margin-top: 5px;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    left: 0;
    top: 0;
  }

  &__progress-bar {
    width: 130px;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__progress-container {
    max-width: 180px;
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__icon {
    font-size: 40px;
    color: #888;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  }

  &__icon-container {
    display: flex;
    width: 30px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__circle {
    width: 30px;
    height: 30px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }

  &__check {
    position: absolute;
    left: calc(50% + 10px);
    top: calc(50% - 10px);
    transform: translate(-50%, -50%);
    width: 70px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
  }
  &__button {
    margin-top: 10px;
  }
  &__description {
    margin-top: 10px;
  }

  &__paynow-link {
    margin-bottom: 10px;

    &--disabled {
      cursor: not-allowed;
    }
  }
}
