.instructions {
  display: block;

  &__title{
    margin-bottom: 10px;
  }

  &__icon {
    width: 40px;
    min-width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    &-src {
      width: 32px;
      height: 32px;
    }
  }

  &__item-container {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 40px;
    width: calc(100% - 60px);
    position: relative;
  }

  &__sub-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;

  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    text-align: left;
  }

  &__item-text {
    text-align: left;
    margin-top: 0;
  }
}
