.splash {
  width: 320px;
  flex-direction: column;
  &__heading {
    margin-top: 30px;
  }
  &__image {
    display: none;
  }
  &__sub-heading {
    width: 190px;
  }
  &__image-mobile {
    display: block;
    width: 100%;
    height: 288px;
    overflow: hidden;
    &-img {
      width: 280px;
      height: 288px;
      margin-left: 45px;
    }
  }
  &__start-container {
    margin-top: 30px;
    width: 245px;
    margin-left: 15px;
  }
  &__get-started-btn {
    width: 245px;
  }
}
