<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <base href="{{{CONTEXT_ROUTE}}}/" />
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="{{{CONTEXT_ROUTE}}}/manifest.json" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="{{{CONTEXT_ROUTE}}}/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="{{{CONTEXT_ROUTE}}}/apple-touch-icon-152x152.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{{CONTEXT_ROUTE}}}/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{{CONTEXT_ROUTE}}}/favicon-16x16.png"
      sizes="16x16"
    />
    <meta name="application-name" content="Money Wizard" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="{{{CONTEXT_ROUTE}}}/mstile-144x144.png"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display"
      rel="stylesheet"
    />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
      window.WealthWizards = {{{clientEnv}}}
    </script>
    <!-- Hotjar Tracking Code for ww.wealthwizards.io -->
    <script>
      var hotJarInit = function(h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function() {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: window.WealthWizards.HOTJAR_SITE_ID, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      };
      if (window.WealthWizards && window.WealthWizards.HOTJAR_SITE_ID) {
        hotJarInit(
          window,
          document,
          'https://static.hotjar.com/c/hotjar-',
          '.js?sv='
        );
      }
    </script>
    <!-- Intercom -->
    <script>
      if (
        window.WealthWizards &&
        window.WealthWizards.INTERCOM_APP_ID !== 'false'
      ) {
        (function() {
          var w = window;
          var ic = w.Intercom;
          if (typeof ic === 'function') {
            ic('reattach_activator');
            ic('update', intercomSettings);
          } else {
            var d = document;
            var i = function() {
              i.c(arguments);
            };
            i.q = [];
            i.c = function(args) {
              i.q.push(args);
            };
            w.Intercom = i;
            function l() {
              var s = d.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src =
                'https://widget.intercom.io/widget/' +
                window.WealthWizards.INTERCOM_APP_ID;
              var x = d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
            }
            if (w.attachEvent) {
              w.attachEvent('onload', l);
            } else {
              w.addEventListener('load', l, false);
            }
          }
        })();
      }
    </script>
  </head>

  <body>
    <!-- mounting point for the app -->
    <div id="app"></div>
    <!-- webpack bundles will appear here -->
  </body>
</html>
