.money-score-tips {
  &__tips-container {
    flex-direction: column;
    height: 360px;
  }

  &__tip {
    margin: 5px 0;
    max-width: 100%;
    width: 300px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;

    &--large {
      width: 325px;
    }
  }
  &__tip-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 0;
  }
  &__tip-content {
    flex: 1;
    font-size: 11px;
    height: 80px;

    &--hover {
      height: 80px;
    }
  }

  &__tip-number {
    font-size: 18px;
    height: 25px;
    width: 25px;
  }

  &__tip-description {
    width: calc(100% - 5px);
    height: 100%;
    margin: 0 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__tip-image {
    width: 100%;
    text-align: center;
    position: initial;
  }
}