// MONEY WIZARD BETA SPECIFIC ONLY!
@import '../common/base/variables';
@import 'base/main';
@import 'base/variables';
@import 'base/btn';
@import 'base/wrapper';
@import 'base/splash';
@import 'base/todos';
@import 'base/typography';
@import 'base/header';
@import 'base/chat';
@import 'base/chat-question';
@import 'base/chat-input';
@import 'base/chat-button';
@import 'base/chat-recaptcha';
@import 'base/chat-multiple-choice';
@import 'base/chat-answer-playback';
@import 'base/chat-date-picker';
@import 'base/todos';
@import 'base/sidebar';
@import 'base/error';
@import 'base/login';
@import 'base/ie';

@media only screen and (max-width: $ltablet) {
  @import 'ltablet/chat';
}

@media only screen and (max-width: $tablet) {
  @import 'tablet/splash';
  @import 'tablet/wrapper';
  @import 'tablet/chat';
}

@media only screen and (max-width: $stablet) {
  @import 'stablet/todos';
  @import 'stablet/header';
}

@media only screen and (max-width: $phablet) {
  @import 'phablet/todos';
  @import 'phablet/header';
  @import 'phablet/chat';
  @import 'phablet/chat-question';
  @import 'phablet/chat-input';
  @import 'phablet/chat-multiple-choice';
  @import 'phablet/todos';
  @import 'phablet/sidebar';
  @import 'phablet/notification';
  @import 'phablet/chat-button';
}
